:root{
    /* FONT SIZES */
    --bannerConstruccion1: 18px;
    --bannerConstruccion2: 68px;
    --construccionWelcomeMessage: 30px;
}

/* DEFAULTS (Color Text, Size Text and more) */
.paragraph-construccion-welcome{font-size: var(--construccionWelcomeMessage);font-family: 'Roboto', sans-serif;font-weight: 300 !important;color:var(--primaryColor) !important;}

/*  HEADER */
.construccion{background-image: url('../img/servicios/construccion/cob_head_construccion.jpg');}

#construccion-banner-1, #construccion-banner-2{font-family: 'Keep-Calm', sans-serif;}
#construccion-banner-1{font-size: var(--bannerConstruccion1) !important;}
#construccion-banner-2{font-size: var(--bannerConstruccion2) !important;}

/* CONTENT CONSTRUCCIÓN */

.normal-text-size{font-family: 'Roboto', sans-serif;font-size: var(--normalText) !important;}

section#main-construccion .row .col-lg-7 ul li{color: var(--primaryColor) !important;}
section#main-construccion .row .col-lg-7 ul li i{color: var(--thirdColor) !important;}

/* Device = Tablets, Ipads (portrait) Screen = B/w 768px to 1024px */
@media (min-width: 768px) and (max-width: 1024px) {
    
}

/* Device = Tablets, Ipads (landscape) Screen = B/w 768px to 1024px */
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    
}

/* Device = Low Resolution Tablets, Mobiles (Landscape) Screen = B/w 481px to 767px */
@media (min-width: 575px) and (max-width: 768px) {
    .normal-text-size{text-align: justify !important;font-size: 20px !important;}
    .section-title{margin-left: 0 !important;margin-top: 0 !important;text-align: center !important;}
    #construccion-banner-1{font-size: 15px !important;}
    #construccion-banner-2{font-size: 35px !important;}
    .btn-advisory{margin-left: 33% !important;}
    #servicios-construccion{text-align: left !important;}
}

/* Device = Most of the Smartphones Mobiles (Portrait) Screen = B/w 320px to 479px */
@media (min-width: 320px) and (max-width: 575px) {
    .normal-text-size{text-align: center !important;font-size: 20px !important;}
    .section-title{margin-left: 0 !important;margin-top: 0 !important;}
    #construccion-banner-1{font-size: 10px !important;}
    #construccion-banner-2{font-size: 25px !important;}
    .btn-advisory{margin-left: 17% !important;}
    #servicios-construccion{text-align: left !important;}
}