:root{
    /* FONT SIZES */
    --messageBanner1: 54px;
    --messageBanner2: 40px;
    --normalText: 24px;
    --footerTitle: 35px;
    --footerLinks: 18px;
    --footerExtra: 16px;
    
    /* COLORS */
    --primaryColor: rgba(13,56,88,1);
    --secondaryColor: rgba(255,255,255,1);
    --thirdColor: rgba(15,164,222,1);
}

/* IMPORT FONTS */
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');
@font-face {
    font-family: 'Keep-Calm';
    src: url('webfonts/Keep-Calm.ttf.eot');
    src: url('webfonts/Keep-Calm.ttf.eot?#iefix') format('embedded-opentype'),
        url('webfonts/Keep-Calm.ttf.woff') format('woff'),
        url('webfonts/Keep-Calm.ttf') format('ttf'),
        url('webfonts/Keep-Calm.ttf.svg#Keep-Calm') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Keep-Bold';
    src: url('webfonts/Keep-Calm.ttf.eot');
    src: url('webfonts/Keep-Calm.ttf.eot?#iefix') format('embedded-opentype'),
        url('webfonts/Keep-Calm.ttf.woff') format('woff'),
        url('webfonts/Keep-Calm.ttf') format('ttf'),
        url('webfonts/Keep-Calm.ttf.svg#Keep-Calm') format('svg');
    font-weight: bold;
    font-style: normal;
}

/* DEFAULTS (Color Text, Size Text and more) */
.services:hover div h3, .services:hover div h3 a{
    color: var(--thirdColor) !important;
}


body{
    font-family: 'Roboto', sans-serif;
}
.primary-color{
    color: var(--primaryColor);
}

.btn-outline-third{
    color: var(--thirdColor);
    background-color: transparent;
    background-image: none;
    border-color: var(--thirdColor);
}
.btn-outline-third:hover{
    cursor: pointer;
    color: var(--secondaryColor);
    background-color: var(--thirdColor);
    border-color: var(--thirdColor);
}

.banner-main{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    height: 750px;
    max-width: 100%;
    margin-top: -48px;
}

#banner-message,#banner-message-2{
    font-family: 'Keep-Calm', sans-serif;
}
#banner-message{
    font-size: var(--messageBanner1) !important;
}
#banner-message-2{
    font-size: var(--messageBanner2) !important;
    font-weight: lighter;
}
.paragraph-font-size{
    font-size: var(--normalText);
    font-weight: 300;
}

.footer-title-size{
    font-size: var(--footerTitle);
    font-family: 'Keep-Calm', sans-serif;
}
.footer-links-size{
    font-size: var(--footerLinks);
}
.footer-extra-size{
    font-size: var(--footerExtra);
}

.footer-links-light{
    font-weight: 300;
}

.contact-mail{
    color: var(--thirdColor) !important;
}

/* NAVBAR */
#navbar-transparent{
    background-color: transparent !important;
}

nav ul li a, nav .container .row p{
    color: var(--secondaryColor) !important;
    font-family: 'Keep-Calm', sans-serif;
}

nav ul li a span.main-link:hover, nav .container .row p:hover, #navbar-transparent.scrolled ul li a.nav-link span.main-link:hover, #navbar-transparent.scrolled .container .row p:hover, nav ul li div.dropdown-menu a:hover, #navbar-transparent.scrolled ul li div.dropdown-menu a:hover{
    color: var(--thirdColor) !important;
}

nav ul li div.dropdown-menu a{
    color: #0d3858 !important;
    font-family: 'Keep-Calm', sans-serif;
}

#navbar-transparent.scrolled{
    background-color: #f8f9fa !important;
    transition: background-color 200ms linear;
}

#navbar-transparent.scrolled ul li a.nav-link, #navbar-transparent.scrolled .container .row p{
    color: var(--primaryColor) !important;
    font-family: 'Keep-Calm', sans-serif;
}

.custom-toggler.navbar-toggler {
    border-color: rgb(255,255,255);
}
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.scrolled.navbar-toggler {
    border-color: rgb(0,0,0);
}
.custom-toggler.scrolled .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/* FOOTER */

.background-footer{
    background-color: var(--primaryColor);
}

.footer-links-size:hover,#aviso-privacidad:hover{
    color: var(--thirdColor) !important;
}

#no-link-footer:hover{
    color: white !important;
}

/* Device = Low Resolution Tablets, Mobiles (Landscape) Screen = B/w 481px to 767px */
@media (min-width: 575px) and (max-width: 768px) {
    .banner-main{
        height: 360px !important;
    }
    #navbar-logo{
        margin: 0 !important;
    }
    #banner-message{
        font-size: 30px !important;
        margin-top: -10% !important;
        padding-top: 0 !important;
    }
    #banner-message-2{
        font-size: 22px !important;
    }
    #footer-list-pages, #footer-h5-links, #footer-h5-title{
        margin-top: 0 !important;
    }
    #col-border-mobile{
        border: none !important;
    }
}

/* Device = Most of the Smartphones Mobiles (Portrait) Screen = B/w 320px to 479px */
@media (min-width: 320px) and (max-width: 575px) {
    .banner-main{
        height: 640px !important;
    }
    #navbar-logo{
        margin: 0 !important;
    }
    #banner-message{
        font-size: 20px !important;
    }
    #banner-message-2{
        font-size: 14.5px !important;
    }
    #footer-list-pages, #footer-h5-links, #footer-h5-title{
        margin-top: 0 !important;
    }
    #col-border-mobile{
        border: none !important;
    }
}