:root{
    /* FONT SIZES */
    --bannerNosotros1: 68px;
}

/* DEFAULTS (Color Text, Size Text and more) */

/*  HEADER */
.nosotros{background-image: url('../img/nosotros/cob_head_nosotros.jpg');}

#nosotros-banner-1{font-family: 'Keep-Calm', sans-serif;font-size: var(--bannerNosotros1) !important;}

/* Device = Tablets, Ipads (portrait) Screen = B/w 768px to 1024px */
@media (min-width: 768px) and (max-width: 1024px) {
    
}

/* Device = Tablets, Ipads (landscape) Screen = B/w 768px to 1024px */
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    
}

/* Device = Low Resolution Tablets, Mobiles (Landscape) Screen = B/w 481px to 767px */
@media (min-width: 575px) and (max-width: 768px) {
    .normal-text-size{text-align: justify !important;font-size: 20px !important;}
    #nosotros-banner-1{font-size: 25px !important;margin-top: 0 !important;padding-top: 0 !important;}
}

/* Device = Most of the Smartphones Mobiles (Portrait) Screen = B/w 320px to 479px */
@media (min-width: 320px) and (max-width: 575px) {
    .normal-text-size{text-align: center !important;font-size: 20px !important;}
    #nosotros-banner-1{font-size: 20px !important;}
}