nav#secondaryNavbar ul li a, nav#secondaryNavbar .container .row p{
    color: var(--primaryColor) !important;
}

nav#secondaryNavbar ul li a:hover, nav#secondaryNavbar .container .row p:hover{
    color: var(--thirdColor) !important;
}

.custom-toggler.navbar-toggler {
    border-color: rgb(0,0,0);
}
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

#header-correo{margin-top: 5% !important; margin-bottom: 12% !important;}

/* Device = Low Resolution Tablets, Mobiles (Landscape) Screen = B/w 481px to 767px */
@media (min-width: 575px) and (max-width: 768px) {
    #header-correo{margin-top: 0% !important; margin-bottom: 7% !important;}
}

/* Device = Most of the Smartphones Mobiles (Portrait) Screen = B/w 320px to 479px */
@media (min-width: 320px) and (max-width: 575px) {
    #header-correo{margin-top: 0% !important; margin-bottom: 7% !important;}
}