:root{
    /* FONT SIZES */
    --bannerContacto1: 40px;
    --bannerContacto2: 68px;
}

/* DEFAULTS (Color Text, Size Text and more) */

/*  HEADER */
.contacto{background-image: url('../img/contacto/cob_head_contacto.jpg');}

#contacto-banner-1, #contacto-banner-2{font-family: 'Keep-Calm', sans-serif;}
#contacto-banner-1{font-size: var(--bannerContacto1) !important;}
#contacto-banner-2{font-size: var(--bannerContacto2) !important;}

/* CONTENT CONTACTO */

.normal-text-size{font-family: 'Roboto', sans-serif;font-size: var(--normalText) !important;}

.mapa{width: 100%;overflow: hidden;}
.mapa iframe {width: 100%;max-height: 600px;}

/* Device = Tablets, Ipads (portrait) Screen = B/w 768px to 1024px */
@media (min-width: 768px) and (max-width: 1024px) {
    
}

/* Device = Tablets, Ipads (landscape) Screen = B/w 768px to 1024px */
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    
}

/* Device = Low Resolution Tablets, Mobiles (Landscape) Screen = B/w 481px to 767px */
@media (min-width: 575px) and (max-width: 768px) {
    .normal-text-size{text-align: justify !important;font-size: 20px !important;}
    #contacto-banner-1{font-size: 25px !important;margin-top: 0 !important;padding-top: 0 !important;}
    #contacto-banner-2{font-size: 45px !important;}
}

/* Device = Most of the Smartphones Mobiles (Portrait) Screen = B/w 320px to 479px */
@media (min-width: 320px) and (max-width: 575px) {
    .normal-text-size{text-align: center !important;font-size: 20px !important;}
    #contacto-banner-1{font-size: 20px !important;}
    #contacto-banner-2{font-size: 35px !important;}
}