:root{
    /* FONT SIZES */
    --bannerArq1: 18px;
    --bannerArq2: 68px;
    --arqWelcomeMessage: 30px;
}

/* DEFAULTS (Color Text, Size Text and more) */
.paragraph-arq-welcome{font-size: var(--arqWelcomeMessage);font-family: 'Roboto', sans-serif;font-weight: 300 !important;color:var(--primaryColor) !important;}

/*  HEADER */
.arquitectura{background-image: url('../img/servicios/arquitectura/cob_head_arquitectura.jpg');}

#arq-banner-1, #arq-banner-2{font-family: 'Keep-Calm', sans-serif;}
#arq-banner-1{font-size: var(--bannerArq1) !important;}
#arq-banner-2{font-size: var(--bannerArq2) !important;}

/* CONTENT ARQUITECTURA */

.normal-text-size{font-family: 'Roboto', sans-serif;font-size: var(--normalText) !important;}

/* Device = Tablets, Ipads (portrait) Screen = B/w 768px to 1024px */
@media (min-width: 768px) and (max-width: 1024px) {
    
}

/* Device = Tablets, Ipads (landscape) Screen = B/w 768px to 1024px */
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    
}

/* Device = Low Resolution Tablets, Mobiles (Landscape) Screen = B/w 481px to 767px */
@media (min-width: 575px) and (max-width: 768px) {
    .normal-text-size{text-align: justify !important;font-size: 20px !important;}
    .section-title{margin-left: 0 !important;margin-top: 0 !important;text-align: center !important;}
    #arq-banner-1{font-size: 15px !important;margin-top: 0 !important;padding-top: 0 !important;}
    #arq-banner-2{font-size: 35px !important;}
    #block-image-arq{margin-top: 10% !important;}
    .btn-add-us{margin-left: 33% !important;}
}

/* Device = Most of the Smartphones Mobiles (Portrait) Screen = B/w 320px to 479px */
@media (min-width: 320px) and (max-width: 575px) {
    .normal-text-size{text-align: center !important;font-size: 20px !important;}
    .section-title{margin-left: 0 !important;margin-top: 0 !important;}
    #arq-banner-1{font-size: 10px !important;}
    #arq-banner-2{font-size: 25px !important;}
    #block-image-arq{margin-top: 10% !important;}
    .btn-add-us{margin-left: 17% !important;}
}