:root{
    /* FONT SIZES */
    --homeWelcomeMessage: 30px;
    --nameServices: 36px;
    --viewMoreServices: 18px;
}

/* DEFAULTS (Color Text, Size Text and more) */
.paragraph-welcome-size{font-size: var(--homeWelcomeMessage);font-weight: 300;}
.service-name-size{font-size: var(--nameServices);}
.service-viewmore-size{font-size: var(--viewMoreServices);margin-right: 15%;float: right;font-weight: 100;}

/*  HEADER */
.home{background-image: url('../img/home/cob_head_home.jpg');}
#link-head{color: var(--thirdColor) !important;}

/* CONTENT HOME */
#harley-image{height: 100%;}

#title-services, #title-services-mobile{margin-left: 15%;border-left: 2px solid var(--primaryColor) !important;}
#title-exitos{margin-right: 15%;border-right: 2px solid var(--primaryColor) !important;}

.capa{
    position: relative;
    width: 100%;
    height: 600px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: rgba(0,0,0,1);
    display: flex;
    /* transition: background 0.4s ease; */
}

#link-contact-us, #link-know-more{padding: 5px 45px 5px 45px !important;}

.services{height: 600px;background-position: center !important;background-size: cover !important;}
.service-1{background: url('../img/servicios/cob_servicios_back_arquitectura_01.jpg');}
.service-2{background: url('../img/servicios/cob_servicios_back_ingenieria_02.jpg');}
.service-3{background: url('../img/servicios/cob_servicios_back_bim_03.jpg');}
.service-4{background: url('../img/servicios/cob_servicios_back_construccion_04.jpg');}
.services-mobile{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 178px;
    position: relative;
}
.service-mobile-1{background-image: url('../img/servicios/cob_servicios_back_arquitectura_full.jpg');}
.service-mobile-2{background-image: url('../img/servicios/cob_servicios_back_ingenieria_full.jpg');}
.service-mobile-3{background-image: url('../img/servicios/cob_servicios_back_bim_full.jpg');}
.service-mobile-4{background-image: url('../img/servicios/cob_servicios_back_construccion_full.jpg');}

#container-services-1 #capa .services h3, #container-services-2 .services-mobile h3{font-family: 'Keep-Calm', sans-serif;}
#container-services-1 #capa .services h3 a, #container-services-2 .services-mobile h3 a{font-family: 'Roboto', sans-serif;}

#container-exitos .galeria {overflow: hidden;}
#container-exitos .galeria .foto {width: 14.28%;float: left;}
#container-exitos .galeria .foto img {width: 100%;vertical-align: top;opacity: .7;}
#container-exitos .galeria .foto img:hover {
	opacity: 1;
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
    cursor: pointer;
}

#paragraph-project{font-weight: inherit;}

/* ----- ----- MEDIA QUERIES ----- ----- */
@media screen and (max-width: 800px) {
	#container-exitos .galeria .foto {width: 50%;}
}

/* Device = Tablets, Ipads (portrait) Screen = B/w 768px to 1024px */
@media (min-width: 768px) and (max-width: 1024px) {
    .service-name-size{font-size: 24px !important;}
}

/* Device = Tablets, Ipads (landscape) Screen = B/w 768px to 1024px */
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .service-name-size{font-size: 24px !important;}
}

/* Device = Low Resolution Tablets, Mobiles (Landscape) Screen = B/w 481px to 767px */
@media (min-width: 575px) and (max-width: 768px) {
    #title-leaders, #paragraph-welcome, #paragraph-leaders, #paragraph-project{text-align: center !important;}
    #paragraph-exitos{text-align: justify !important;}
    #paragraph-welcome, #title-leaders{padding: 0 !important;margin-left: 0 !important;}
    #paragraph-leaders{margin-right: 0 !important;margin-left: 0 !important;}
    #paragraph-welcome, .paragraph-font-size{font-size: 20px;}
    #container-project-extras{margin-left: 0 !important;}
    #link-know-more{margin-left: 33% !important;}
    #link-contact-us{margin-left: 25% !important;}
    #col-render-zapata-1, #container-services-1{display: none;}
    #col-render-zapata-2{display: block !important;}
    #container-services-2{display: flex !important;}
    #container-services-2 .services-mobile h3{margin-top: 10% !important;font-size: 28px !important;}
    .service-viewmore-size{margin-right: 0 !important;float: left;}
}

/* Device = Most of the Smartphones Mobiles (Portrait) Screen = B/w 320px to 479px */
@media (min-width: 320px) and (max-width: 575px) {
    #title-leaders, #paragraph-welcome, #paragraph-leaders, #paragraph-project{text-align: center !important;}
    #paragraph-exitos{text-align: justify !important;}
    #paragraph-welcome, #title-leaders{padding: 0 !important;margin-left: 0 !important;}
    #paragraph-leaders{margin-right: 0 !important;margin-left: 0 !important;}
    #paragraph-welcome, .paragraph-font-size{font-size: 20px;}
    #container-project-extras{margin-left: 0 !important;}
    #link-know-more{margin-left: 20% !important;}
    #link-contact-us{margin-left: 10% !important;}
    #col-render-zapata-1, #container-services-1{display: none;}
    #col-render-zapata-2{display: block !important;}
    #container-services-2{display: flex !important;}
    #container-services-2 .services-mobile h3{margin-top: 15% !important;font-size: 28px !important;}
    .service-viewmore-size{margin-right: 0 !important;float: left;}
}