:root{
    /* FONT SIZES */
    --bannerCasos1: 68px;
    --casosWelcomeMessage: 30px;
}

/* DEFAULTS (Color Text, Size Text and more) */

/*  HEADER */
.casos{background-image: url('../img/casos-exito/cob_casos_exito_head.jpg');}

#casos-banner-1{font-size: var(--bannerCasos1) !important;}

/* CONTENT CONTACTO */

.paragraph-casos-welcome{font-size: var(--casosWelcomeMessage);font-family: 'Roboto', sans-serif;color:var(--primaryColor) !important;}


/*------------------------------ vertical bootstrap slider----------------------------*/
.carousel-inner> .carousel-item.carousel-item-next ,
.carousel-inner > .carousel-item.active.carousel-item-right{ 
    transform: translate3d(0, 100%, 0); -webkit-transform: translate3d(0, 100%, 0); -ms-transform: translate3d(0, 100%, 0); -moz-transform: translate3d(0, 100%, 0); -o-transform: translate3d(0, 100%, 0);  top: 0;
    
}
.carousel-inner > .carousel-item.carousel-item-prev ,
.carousel-inner > .carousel-item.active.carousel-item-left{ 
    transform: translate3d(0,-100%, 0); -webkit-transform: translate3d(0,-100%, 0);  -moz-transform: translate3d(0,-100%, 0);-ms-transform: translate3d(0,-100%, 0); -o-transform: translate3d(0,-100%, 0); top: 0;
    
}
.carousel-inner > .carousel-item.next.carousel-item-left ,
.carousel-inner > .carousel-item.carousel-item-prev.carousel-item-right ,
.carousel-inner > .carousel-item.active{
    transform:translate3d(0,0,0); -webkit-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0);; -moz-transform:translate3d(0,0,0); -o-transform:translate3d(0,0,0); top:0;
    
}
/*------------------------------- vertical carousel indicators ------------------------------*/
.carousel-indicators {
    display: block !important;
    height: 100% !important;
}

.carousel-indicators li {
    background-color: var(--primaryColor) !important;
    width: 10px !important;
    height: 10px !important;
    margin: 40% !important;
    border-radius: 50%;
}

/* Device = Tablets, Ipads (portrait) Screen = B/w 768px to 1024px */
@media (min-width: 768px) and (max-width: 1024px) {
    
}

/* Device = Tablets, Ipads (landscape) Screen = B/w 768px to 1024px */
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    
}

/* Device = Low Resolution Tablets, Mobiles (Landscape) Screen = B/w 481px to 767px */
@media (min-width: 575px) and (max-width: 768px) {
    .normal-text-size{text-align: justify !important;font-size: 20px !important;}
    #casos-banner-1{font-size: 40px !important;margin-top: 0 !important;padding-top: 0 !important;}
    
}

/* Device = Most of the Smartphones Mobiles (Portrait) Screen = B/w 320px to 479px */
@media (min-width: 320px) and (max-width: 575px) {
    .normal-text-size{text-align: center !important;font-size: 20px !important;}
    #casos-banner-1{font-size: 40px !important;}
    
}