<div class="users form">
<?php echo $this->Form->create('User'); ?>
<fieldset>
    <legend><?php echo __('Admin Edit User'); ?></legend>
    <fieldset>
        <legend>Cambiar contraseña</legend>
        <?php
        echo $this->Form->input('id');
        echo $this->Form->input('password');
	echo $this->Form->input('passwordConfirm');
        ?>
    </fieldset>
</fieldset>
<?php echo $this->Form->end(__('Submit')); ?>
</div>