html, body{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

header, footer{
	background-image: url('../img/header_background.jpg');
	background-size: 100% 100%;
}

.navbar, .nav-cont, .nav-conte{
  height: 150px;
}

.logo{
	width: 20%;
    margin-top: 15px;
}

.inbl{
	color: #FFFFFF;
	text-align: right;
	float: right !important;
}

.slider{
	margin: 25px 0;
	width: 100%;
	display: inline-block;
}

.titulos{
	color: #3b3a97;
	font-weight: bold;
	font-size: 45px;
}

.separadores{
	border-top: 9px solid #ce3247;
	margin-top: 30px;
}

/*.sseparador{
	width: 115%;
}

.rseparador{
	right: 5%;
}*/

.placeholder img {
  display: inline-block;
  border-radius: 50%;
}

.placeholder{
    min-height: 235px;
}

.circleimage{
	width: 200px;
	height: 200px;
	min-height: 200px;
}

#slide2, #slide2-item1, #slide2-item2{
	width: 100%;
}

.info{
	margin: 25px 0;
	text-align: justify;
	font-weight: bold;
}

.pad-mv{
	padding-top: 18px;
}

.cont-mv{
	padding-top: 25px;
}

.img-des{
    padding-top: 75px;
    width: 80%;
}

#padtoright{
    padding-left: 0;
    padding-right:100px;
}