/***********RESPONSIVE**************/

@media screen and (max-width: 570px) {

    .navbar, .nav-cont, .nav-conte{
	height: 120px;
    }

    .logo{
	width: 100%;
	margin-top: 15px;
	margin-left: 15px;
    }
    
    .no-pad{
        padding-right: 0 !important;
	padding-left: 0 !important;
    }
    
    .titulos {
	font-size: 25px;
    }
    
    .circleimage{
	width: 200px !important;
	height: 200px !important;
	min-height: 200px !important;
    }
    
    .placeholder {
	  min-height: 230px !important;
    }
    
    .img-des{
    	width: 100% !important;
    	padding-top: 0;
    	margin-bottom: 15px;
    }
    
    .cont-mv {
	padding-top: 5px !important;
	padding-bottom: 25px !important;
    }
    
    .info{
    	padding-bottom: 25px;
    }

    /*#slide2, #slide2-item1, #slide2-item2 {
	    width: 530px;
	    height: 450px;
    }*/
    
    h1{
    	margin: 0 !important;
    }

    h2{
    	margin: 0 !important;    
    }

    h3{
	font-size: 18px !important;
    	margin: 0 !important;
    }

    h4{
	font-size: 13px !important;
    	margin: 0 !important;
    }

    h5{
       	margin: 0 !important;
    }

    h6{
       	margin: 0 !important;
    }
    
    #padtoright{
        padding-left: 15px;
        padding-right:50px;
    }

}

@media screen and (max-width: 480px) {

    .navbar, .nav-cont, .nav-conte{
	height: 90px;
    }

    .logo{
	width: 100%;
	margin-top: 15px;
	margin-left: 15px;
    }
    
    .no-pad{
        padding-right: 0 !important;
	padding-left: 0 !important;
    }
    
    .titulos {
	font-size: 23px;
    }
    
    .circleimage{
	width: 150px !important;
	height: 150px !important;
	min-height: 150px !important;
    }
    
    .placeholder {
	  min-height: 180px !important;
    }
    
    .img-des{
    	width: 100% !important;
    	margin-bottom: 15px;
    }
    
    .cont-mv {
	padding-top: 5px !important;
	padding-bottom: 25px !important;
    }
    
    .info{
    	padding-bottom: 25px;
    }

    /*#slide2, #slide2-item1, #slide2-item2 {
	    width: 440px;
	    height: 360px;
    }*/
    
     h1{
    	margin: 0 !important;
    }

    h2{
    	margin: 0 !important;    
    }

    h3{
	font-size: 15px !important;
    	margin: 0 !important;
    }

    h4{
	font-size: 10px !important;
    	margin: 0 !important;
    }

    h5{
       	margin: 0 !important;
    }

    h6{
       	margin: 0 !important;
    }

}

@media screen and (max-width: 399px) {

    .navbar, .nav-cont, .nav-conte{
	height: 90px;
    }

    .logo{
	width: 100%;
	margin-top: 15px;
	margin-left: 15px;
    }
    
    .no-pad{
        padding-right: 0 !important;
	padding-left: 0 !important;
    }
    
    .titulos {
	font-size: 20px;
    }
    
    .circleimage{
	width: 100px !important;
	height: 100px !important;
	min-height: 100px !important;
    }
    
    .placeholder {
	  min-height: 145px !important;
    }
    
    .img-des{
    	width: 100% !important;
    	margin-bottom: 15px;
    }
    
    .cont-mv {
	padding-top: 5px !important;
	padding-bottom: 25px !important;
    }
    
    .info{
    	padding-bottom: 25px;
    }

    /*#slide2, #slide2-item1, #slide2-item2 {

	    width: 359px;
	    height: 339px;
    }*/
    
    h1{
    	margin: 0 !important;
    }

    h2{
    	margin: 0 !important;    
    }

    h3{
	font-size: 13px !important;
    	margin: 0 !important;
    }

    h4{
	font-size: 9px !important;
    	margin: 0 !important;
    }

    h5{
       	margin: 0 !important;
    }

    h6{
       	margin: 0 !important;
    }

}

@media screen and (max-width: 335px) {
    .navbar, .nav-cont, .nav-conte{
	height: 90px;
    }

    .logo{
	width: 100%;
	margin-top: 15px;
	margin-left: 15px;
    }
    
    .no-pad{
        padding-right: 0 !important;
	padding-left: 0 !important;
    }
    
    .titulos {
	font-size: 25px;
    }
    
    .separadores {
	margin-top: 3px;
    }
    
    .sseparador{
	width: 75%;
    }
	
    .rseparador{
	right: 0;
    }
    
    .titulos {
	font-size: 18px;
    }
    
    .img-des{
    	width: 100% !important;
    	margin-bottom: 15px;
    }
    
    .cont-mv {
	padding-top: 5px !important;
	padding-bottom: 25px !important;
    }
    
    /*#slide2, #slide2-item1, #slide2-item2 {

	    width: 280px;
	    height: 260px;
    }*/
    
    .placeholder {
	  min-height: 145px !important;
    }
	
    
    .circleimage{
	width: 80px !important;
	height: 80px !important;
	min-height: 80px !important;
    }
    
    .info{
    	padding-bottom: 25px;
    }
	
    h1{
    	margin: 0 !important;
    }

    h2{
    	margin: 0 !important;    
    }

    h3{
	font-size: 9.5px !important;
    	margin: 0 !important;
    }

    h4{
	font-size: 8px !important;
    	margin: 0 !important;
    }

    h5{
       	margin: 0 !important;
    }

    h6{
       	margin: 0 !important;
    }
}