
#Cabeza, #Pie, #Cuerpo {
    width: 100%;
}
#Cuerpo {
    background: url("../images/larfotofondo.jpg") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 890px;
    position: relative;
}
#Cuerpo .contenido {
    height: 870px;
    margin: 0 auto;
    width: 1100px;
}
.im1 {
    float: left;
    margin-left: 150px;
    margin-top: 26px;
}
.logoinfo {
    height: 300px;
    margin: 0 auto;
    width: 600px;
}
.parrafo1 {
    background: none repeat scroll 0 0 rgba(169, 170, 171, 0.58);
    float: left;
    font-family: "Roboto",sans-serif;
    font-size: 30px;
    opacity: 1;
    padding: 10px 0;
    text-align: center;
    width: 600px;
}
#Pie {
    height: 70px;
}
#Pie .contenido {
    font-family: "Roboto",sans-serif;
    margin: 0 auto;
    width: 1100px;
}
.piecon {
    float: left;
    font-size: 14px;
    margin-left: 100px;
    width: 290px;
}
span {
}
.tel {
    float: left;
    font-size: 23px;
    font-weight: bold;
    margin-left: 140px;
    margin-top: 10px;
    min-height: 0;
}
.im2 {
    float: left;
    margin-left: 200px;
    margin-top: 5px;
}


@media screen and (max-width: 800px) {

#Pie .contenido {
    font-family: "Roboto",sans-serif;
    margin: 0 auto;
    width: 100%;
}

#Cuerpo .contenido {
    height: 870px;
    margin: 0 auto;
    width: 100%;
}

@media screen and (max-width: 800px) {

#Pie .contenido {
    font-family: "Roboto",sans-serif;
    margin: 0 auto;
    width: 100%;
}

#Cuerpo .contenido {
    height: 870px;
    margin: 0 auto;
    width: 100%;
}
}

@media screen and (max-width: 480px) {
	
#Cabeza, #Pie, #Cuerpo {
    width: 100%;
}
#Cuerpo {
    background: url("../images/larfotofondo.jpg") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 890px;
    position: relative;
}
#Cuerpo .contenido {
    height: 870px;
    margin: 0 auto;
    width: 100%;
}
.im1 {
    float: left;
    margin-left: 50px;
    margin-top: 26px;
}
.logoinfo {
    height: 300px;
    margin: 0 auto;
    width: 100%;
}
.parrafo1 {
    background: none repeat scroll 0 0 rgba(169, 170, 171, 0.58);
    float: left;
    font-family: "Roboto",sans-serif;
    font-size: 30px;
    opacity: 1;
    padding: 10px 0;
    text-align: center;
    width: 100%;
}
#Pie {
    height: 70px;
}
#Pie .contenido {
    font-family: "Roboto",sans-serif;
    margin: 0 auto;
    width: 100%;
}
.piecon {
    float: left;
    font-size: 14px;
    margin-left: 100px;
    width: 290px;
}
span {
}
.tel {
    float: left;
    font-size: 23px;
    font-weight: bold;
    margin-left: 140px;
    margin-top: 10px;
    min-height: 0;
}
.im2 {
    float: left;
    margin-left: 200px;
    margin-top: 5px;
}
iframe {
    margin-left: 40px !important;
    width: 80% !important;
} 
}