<section class="container mt-5 pt-5" id="aviso-privacidad">
    <br><br>
    <h1 class="primary-color text-center">Aviso de privacidad</h1>
    <p class="text-justify">
        Con fundamento en los artículos 15 y 16 de la Ley Federal de Protección de Datos Personales en Posesión de Particulares hacemos de su conocimiento que Grupo COB, con domicilio en # es responsable de recabar sus datos personales, del uso que se le dé a los mismos y de su protección.
        <br><br>
        Su información personal será utilizada para las siguientes finalidades: proveer los servicios y productos que ha solicitado; notificarle sobre nuevos servicios o productos que tengan relación con los ya contratados o adquiridos; comunicarle sobre cambios en los mismos; elaborar estudios y programas que son necesarios para determinar hábitos de consumo; realizar evaluaciones periódicas de nuestros productos y servicios a efecto de mejorar la calidad de los mismos; evaluar la calidad del servicio que brindamos, y en general, para dar cumplimiento a las obligaciones que hemos contraído con usted.
        <br><br>
        Para las finalidades antes mencionadas, requerimos obtener los siguientes datos personales:
        <br><br>
        Nombre completo
        Teléfono fijo y/o celular
        Correo electrónico
        Es importante informarle que usted tiene derecho al Acceso, Rectificación y Cancelación de sus datos personales, a Oponerse al tratamiento de los mismos o a revocar el consentimiento que para dicho fin nos haya otorgado.
        <br><br>
        Para ello, es necesario que envíe la solicitud en los términos que marca la Ley en su Art. 29 a Departamento de Protección de Datos Personales, responsable de nuestro Departamento de Protección de Datos Personales, ubicado en la dirección mencionada en el primer párrafo, o bien, se comunique al teléfono # o vía correo electrónico a través de nuestra forma de contacto, el cual solicitamos confirme vía telefónica para garantizar su correcta recepción.
        <br><br>
        En caso de que no desee de recibir mensajes promocionales de nuestra parte, puede enviarnos su solicitud por medio de la misma forma de contacto o comunicarse por teléfono al #
        <br><br>
        Importante: Cualquier modificación a este Aviso de Privacidad podrá consultarlo en #
    </p>
</section>
<br><br>