    <div class="row w-100 pt-5 mt-5">
        <div class="container pt-5 mt-5">
            <div class="d-flex justify-content-end mt-5 pt-5 pl-5 ml-5" data-aos="fade-up-right" data-aos-duration="2500">
                <h1 id="bim-banner-1" class="text-uppercase text-white text-right mt-5 pt-5 font-weight-bold">Nuestros servicios de<br><span id="bim-banner-2">BIM</span></h1>
            </div>
        </div>
    </div>
</div>
<section id="main-bim">
    <div class="container">
        <h2 class="text-center py-5 px-3 paragraph-bim-welcome"><span class="font-weight-bold">Creamos modelos de pre-construcción virtual</span> en los que se generan anticipaciones de estructura e instalaciones para diferentes tipos de proyectos, alcances y niveles de desarrollo,<span class="font-weight-bold"> lo cual te permite conocer previamente; desde los cruces de ingenierías, hasta cuantificaciones y tiempos de ejecución.</span></h2>
    </div>
    <div class="row ml-0 mr-0 mt-5">
        <div class="col-lg-5 col-md-12 col-sm-12 px-0 d-none d-lg-block">
            <figure class="figure" data-aos="flip-left" data-aos-easing="ease-in-back" data-aos-duration="1500" data-aos-offset="0">
                <img src="img/servicios/bim/cob_servicios_bim.jpg" class="figure-img img-fluid" alt="Bulding Information Model">
            </figure>
        </div>
        <div class="col-lg-7 col-md-12 col-sm-12 px-0">
            <h3 class="text-left mt-5 ml-5 primary-color normal-text-size font-weight-bold section-title">BIM: Bulding Information Model</h3>
            <p class="text-left primary-color ml-5 mr-5 mb-4 mt-4 font-weight-light normal-text-size">
                Contáctanos para conocer más sobre cómo, con este servicio, podemos ayudarte a tomar mejores decisiones, optimizar el uso de recursos y reducir significamente los costos y tiempos de tu proyecto.
            </p>
            <a href="contacto.php" class="btn btn-lg ml-5 mt-2 btn-outline-third btn-advisory">Permítenos asesorarte</a>
        </div>
        <div class="col-lg-5 col-md-12 col-sm-12 mt-5 px-0 d-sm-block d-md-block d-lg-none">
            <figure class="figure" data-aos="flip-left" data-aos-easing="ease-in-back" data-aos-duration="1500" data-aos-offset="0">
                <img src="img/servicios/bim/cob_servicios_bim.jpg" class="figure-img img-fluid" alt="Bulding Information Model">
            </figure>
        </div>
    </div>
    <section class="row mt-5 ml-0 mr-0" id="container-services-1">
        <div class="container" id="title-services">
            <h4 class="text-left text-uppercase primary-color">Otras áreas de servicio</h4>
            <p class="text-justify mb-5 primary-color paragraph-font-size">Tenemos una opción adecuada para cada una de las necesidades de tu empresa.</p>
        </div>
        <div class="capa" id="capa">
            <div data-bg="url('img/servicios/cob_servicios_back_arquitectura_full.jpg')" class="d-flex col-3 services service-1" id="serv-arq">
                <div class="d-flex w-100 align-items-center">
                    <h3 class="text-white text-center w-100 service-name-size">Arquitectura<br><a href="<?php echo $httpProtocol.$host.$url ?>arquitectura.php" class="text-white text-decoration-none text-uppercase service-viewmore-size">Ver más ></a></h3>
                </div>
            </div>
            <div data-bg="url('img/servicios/cob_servicios_back_ingenieria_full.jpg')" class="d-flex col-3 services service-2" id="serv-ing">
                <div class="d-flex w-100 align-items-center">
                    <h3 class="text-white text-center w-100 service-name-size">Ingeniería<br><a href="<?php echo $httpProtocol.$host.$url ?>ingenieria.php" class="text-white text-decoration-none text-uppercase service-viewmore-size">Ver más ></a></h3>
                </div>
            </div>
            <div data-bg="url('img/servicios/cob_servicios_back_bim_full.jpg')" class="d-flex col-3 services service-3" id="serv-bim">
                <div class="d-flex w-100 align-items-center">
                    <h3 class="text-white text-center w-100 service-name-size">BIM<br><a href="<?php echo $httpProtocol.$host.$url ?>bim.php" class="text-white text-decoration-none text-uppercase service-viewmore-size">Ver más ></a></h3>            
                </div>
            </div>
            <div data-bg="url('img/servicios/cob_servicios_back_construccion_full.jpg')" class="d-flex col-3 services service-4" id="serv-con">
                <div class="d-flex w-100 align-items-center">
                    <h3 class="text-white text-center w-100 service-name-size">Construcción<br><a href="<?php echo $httpProtocol.$host.$url ?>construccion.php" class="text-white text-decoration-none text-uppercase service-viewmore-size">Ver más ></a></h3>
                </div>
            </div>
        </div>
    </section>
    <section class="row mt-5 ml-0 mr-0" id="container-services-2" style="display: none;">
        <div class="container" id="title-services-mobile">
            <h4 class="text-left text-uppercase primary-color">Otras áreas de servicio</h4>
            <p class="text-justify mb-5 primary-color paragraph-font-size">Tenemos una opción adecuada para cada una de las necesidades de tu empresa.</p>
        </div>
        <div class="col-12 services-mobile service-mobile-1" id="serv-arq-mobile">
            <h3 class="text-white service-name-size">Arquitectura<br><a href="<?php echo $httpProtocol.$host.$url ?>arquitectura.php" class="text-white text-decoration-none text-uppercase service-viewmore-size">Ver más ></a></h3>
        </div>
        <div class="col-12 services-mobile service-mobile-2" id="serv-ing-mobile">
            <h3 class="text-white service-name-size">Ingeniería<br><a href="<?php echo $httpProtocol.$host.$url ?>ingenieria.php" class="text-white text-decoration-none text-uppercase service-viewmore-size">Ver más ></a></h3>
        </div>
        <div class="col-12 services-mobile service-mobile-3" id="serv-bim-mobile">
            <h3 class="text-white service-name-size">BIM<br><a href="<?php echo $httpProtocol.$host.$url ?>bim.php" class="text-white text-decoration-none text-uppercase service-viewmore-size">Ver más ></a></h3>
        </div>
        <div class="col-12 services-mobile service-mobile-4" id="serv-con-mobile">
            <h3 class="text-white service-name-size">Construcción<br><a href="<?php echo $httpProtocol.$host.$url ?>construccion.php" class="text-white text-decoration-none text-uppercase service-viewmore-size">Ver más ></a></h3>
        </div>
    </section>
</section>