    <div class="row w-100 pt-5 mt-5">
        <div class="container pt-5 mt-5">
            <div class="d-flex justify-content-end mt-5 pt-5 pl-5 ml-5" data-aos="fade-up-right" data-aos-duration="2500">
                <h1 id="casos-banner-1" class="text-uppercase text-white text-right mt-5 pt-5 font-weight-bold">Casos <br>de éxito</h1>
            </div>
        </div>
    </div>
</div>

<section id="main-bim">
    <div class="container">
        <h2 class="text-center py-5 px-3 font-weight-light paragraph-casos-welcome">Con más de <span class="font-weight-bold">10 años de experiencia y más de 50 casos de éxito,</span> esta es sólo una muestra de nuestros proyectos más exitosos. Si tienes un proyecto en mente que requiera una asesoría integral, <span class="font-weight-bold">somos la empresa adecuada para acompañarte.</span></h2>
    </div>
    <div class='container-fluid'>
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <div class='row mx-0'>
                <div class="col-lg-3 col-md-3 col-sm-12 px-5">
                    <h3 class="primary-color text-center text-uppercase" id="nombre-caso"></h3>
                    <h6 id="descripcion-caso" class="primary-color text-center"></h6>
                </div>
                <div class="col-lg-1 col-md-1 d-none d-md-block d-lg-block">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-index="0" data-title="Harley Davison QRO" data-desc="Diseño y construcción - Área de 1,550 M2" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-index="1" data-title="Agencias Freightliner" data-desc="" data-slide-to="1"></li>
                        <li data-target="#myCarousel" data-index="2" data-title="Estructura Cubierta LOARCA" data-desc="Cubierta 950 M2" data-slide-to="2"></li>
                        <li data-target="#myCarousel" data-index="3" data-title="Centro Automotriz Del Bajío" data-desc="" data-slide-to="3"></li>
                        <li data-target="#myCarousel" data-index="4" data-title="Almacenes San Rafael" data-desc="Cubierta 780 M2" data-slide-to="4"></li>
                        <li data-target="#myCarousel" data-index="5" data-title="Bodegas Industriales" data-desc="Cubierta 780 M2" data-slide-to="5"></li>
                        <li data-target="#myCarousel" data-index="6" data-title="Residencial Querétaro" data-desc="Construcción" data-slide-to="6"></li>
                        <li data-target="#myCarousel" data-index="7" data-title="Secundaria Ignacio M. Altamirano" data-desc="Cancha y cafetería - Capacidad 890 alumnos" data-slide-to="7"></li>
                        <li data-target="#myCarousel" data-index="8" data-title="Oficinas ICSI" data-desc="CENTRAL PARK" data-slide-to="8"></li>
                        <li data-target="#myCarousel" data-index="9" data-title="Casa LC ZIBATÁ" data-desc="" data-slide-to="9"></li>
                    </ol>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-12 px-0">
                    <!-- The slideshow -->
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="img/casos-exito/cob_galeria_01_harley.jpg" class="img-fluid w-100 h-100" alt="Responsive image">
                        </div>
                        <div class="carousel-item">
                            <img src="img/casos-exito/cob_galeria_02_freightliner.jpg" class="img-fluid w-100 h-100" alt="Responsive image">
                        </div>
                        <div class="carousel-item">
                            <img src="img/casos-exito/cob_galeria_03_loarca.jpg" class="img-fluid w-100 h-100" alt="Responsive image">
                        </div>
                        <div class="carousel-item">
                            <img src="img/casos-exito/cob_galeria_04_automotriz_bajio.jpg" class="img-fluid w-100 h-100" alt="Responsive image">
                        </div>
                        <div class="carousel-item">
                            <img src="img/casos-exito/cob_galeria_05_almacenes.jpg" class="img-fluid w-100 h-100" alt="Responsive image">
                        </div>
                        <div class="carousel-item">
                            <img src="img/casos-exito/cob_galeria_06_bodegas_industriales.jpg" class="img-fluid w-100 h-100" alt="Responsive image">
                        </div>
                        <div class="carousel-item">
                            <img src="img/casos-exito/cob_galeria_07_residencial_queretaro.jpg" class="img-fluid w-100 h-100" alt="Responsive image">
                        </div>
                        <div class="carousel-item">
                            <img src="img/casos-exito/cob_galeria_08_secundaria_ignacio_altamirano.jpg" class="img-fluid w-100 h-100" alt="Responsive image">
                        </div>
                        <div class="carousel-item">
                            <img src="img/casos-exito/cob_galeria_09_oficinas_icsi.jpg" class="img-fluid w-100 h-100" alt="Responsive image">
                        </div>
                        <div class="carousel-item">
                            <img src="img/casos-exito/cob_galeria_10_casa_zibata.jpg" class="img-fluid w-100 h-100" alt="Responsive image">
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>