    <div class="row w-100 pt-5 mt-5">
        <div class="container pt-5 mt-5">
            <div class="d-flex justify-content-end mt-5 pt-5 pl-5 ml-5" data-aos="fade-up-right" data-aos-duration="2500">
                <h1 id="contacto-banner-1" class="text-uppercase text-white text-right mt-5 pt-5 font-weight-bold">Súmanos<br>a tu proyecto<br><span id="contacto-banner-2">Contacto</span></h1>
            </div>
        </div>
    </div>
</div>
<section id="main-contacto">
    <div class="container">
        <div class="row">
            <div class="col-sm-0 col-md-3"></div>
            <div class="col-sm-12 col-md-6 col-lg-6">
                <?php if($_SESSION["error"] == 1): ?>
                    <h2 class="text-danger">¡Hubo un error al mandar el correo!</h2>
                <?php endif; ?>
                <form id="form-contacto" action="php/enviar-correo.php" method="POST" class="form-contacto text-center mt-5 mb-5" onsubmit="return sendEmailContact();">
                    <div class="form-group">
                        <h6 class="text-uppercase text-center primary-color">Nombre de Contacto</h6>
                        <input type="text" class="form-control rounded-pill" name="name" id="name" placeholder="">
                    </div>
                    <div class="form-group">
                        <h6 class="text-uppercase text-center primary-color">Correo Electrónico</h6>
                        <input type="email" class="form-control rounded-pill" name="email" id="email" placeholder="">
                    </div>
                    <div class="form-group">
                        <h6 class="text-uppercase text-center primary-color">Teléfono</h6>
                        <input type="text" class="form-control rounded-pill" minlength="10" maxlength="10" name="tel" id="tel" placeholder="">
                    </div>
                    <div class="form-group">
                        <h6 class="text-uppercase text-center primary-color">Servicio de tu interés</h6>
                        <select class="form-control rounded-pill" name="service" id="service">
                            <option value="" selected>Seleccionar...</option>
                            <option value="Arquitectura">Arquitectura</option>
                            <option value="Ingenieria">Ingeniería</option>
                            <option value="BIM">BIM</option>
                            <option value="Construcción">Construcción</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <h6 class="text-uppercase text-center primary-color">Mensaje</h6>
                        <textarea class="form-control rounded" id="message" name="message" placeholder="Ingresa aquí tu mensaje" rows="6"></textarea>
                    </div>
                    <button type="submit" class="btn btn-lg btn-outline-third">Contáctanos</button>
                </form>
            </div>
            <div class="col-sm-0 col-md-3"></div>
        </div>
    </div>
</section>
<div style="display:none;" class="alert alert-danger alert-dismissible fade show text-center" role="alert">
    <p id="message_item"></p>
</div>
<div class="mapa">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3735.4846703709004!2d-100.25708488507506!3d20.568255586249574!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d36821541258ed%3A0x82883d668d243fd6!2sCto+el+Marqu%C3%A9s+Nte+1%2C+Quer%C3%A9taro!5e0!3m2!1ses!2smx!4v1563227352999!5m2!1ses!2smx" width="800" height="600" style="border:0" allowfullscreen></iframe>
</div>