<section class="container mt-5 pt-5" id="aviso-privacidad">
    <h1 id="header-correo" class="font-weight-light text-center">¡Gracias por ponerte en contacto con nosotros! El correo <span class="font-weight-bold primary-color">se ha enviado de manera exitosa.</span></h1>
</section>