<footer class="background-footer">
    <div class="container-fluid text-center text-md-left">
        <div class="row">
            <div class="col-md-6 mt-md-0 mt-3">
                <h5 class="text-center text-white mt-5 footer-title-size" id="footer-h5-title">Contáctanos</h5>
                <p class="text-white text-center footer-extra-size">Para desarrollo de proyectos y cotizaciones: <br><br>Teléfono: 442 480 7450<br><a class="contact-mail text-decoration-none" href="mailto:ventas@grupocob.com.mx">ventas@grupocob.com.mx</a></p>
            </div>
            <hr class="clearfix w-100 d-md-none pb-3">
            <div class="col-md-3 mb-md-0 mb-3 pt-5">
                <a href="<?php echo $httpProtocol.$host.$url ?>nosotros.php" class="text-white text-decoration-none footer-links-size" id="footer-h5-links">Nosotros</a>
                <br>
                <h5 id="no-link-footer" class="mt-5 text-white footer-links-size">Servicios</h5>
                <ul class="list-unstyled">
                    <li>
                        <a href="<?php echo $httpProtocol.$host.$url ?>arquitectura.php" class="text-white text-decoration-none footer-links-size footer-links-light">Arquitectura</a>
                    </li>
                    <li>
                        <a href="<?php echo $httpProtocol.$host.$url ?>ingenieria.php" class="text-white text-decoration-none footer-links-size footer-links-light">Ingenierías</a>
                    </li>
                    <li>
                        <a href="<?php echo $httpProtocol.$host.$url ?>bim.php" class="text-white text-decoration-none footer-links-size footer-links-light">BIM</a>
                    </li>
                    <li>
                        <a href="<?php echo $httpProtocol.$host.$url ?>construccion.php" class="text-white text-decoration-none footer-links-size footer-links-light">Construcción</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3 mb-md-0 mb-3 border-left" id="col-border-mobile">
                <ul class="list-unstyled mt-5" id="footer-list-pages">
                    <li>
                        <a href="<?php echo $httpProtocol.$host.$url ?>casos-de-exito.php" class="text-white text-decoration-none footer-links-size">Casos de éxito</a>
                    </li>
                    <li class="mt-3">
                        <a href="<?php echo $httpProtocol.$host.$url ?>contacto.php" class="text-white text-decoration-none footer-links-size">Contacto</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <br>
    <div class="text-center py-3 text-white border-top footer-extra-size">&copy; 2019 Todos los derechos reservados. Grupo Cobertura S. de R.L. de C.V, <br>Circuito El Marqués Sur #1A El Colorado, CP. 76246 Querétaro, Qro., México, Tel: (442) 480 7450
        <a id="aviso-privacidad" href="<?php echo $httpProtocol.$host.$url ?>aviso-privacidad.php" class="text-decoration-none text-white">Aviso de Privacidad</a>
    </div>
</footer>

<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
    AOS.init();
</script>
</body>
</html>