    <div class="row w-100 pt-5 mt-5">
        <div class="container pt-5 mt-5">
            <div class="d-flex justify-content-end mt-5 pt-5 pl-5 ml-5" data-aos="fade-up-right" data-aos-duration="2500">
                <h1 id="banner-message" class="text-uppercase text-white text-right mt-5 pt-5 font-weight-bold">Redefiniendo<br><span id="banner-message-2">la colaboración<br><a id="link-head" href="construccion.php" class="text-decoration-none">en proyectos<br>de construcción</a></span></h1>
            </div>
        </div>
    </div>
</div>
<section id="main-home">
    <div class="row m-0">
        <div class="col-lg-7 col-md-12 col-sm-12">
            <p class="text-left p-5 ml-5 mt-5 primary-color paragraph-welcome-size" id="paragraph-welcome">
                Ponemos a tu disposición nuestra experiencia en planificación, desarrollo y construcción para lograr que tu proyecto siga un proceso sencillo, eficiente, sustentable y libre de estrés.
            </p>
        </div>
        <div class="col-lg-5 col-md-12 col-sm-12 pr-0">
            <figure class="figure" data-aos="flip-right" data-aos-easing="ease-in-back" data-aos-duration="1500" data-aos-offset="0">
                <img src="img/home/cob_home_harley_davidson.jpg" id="harley-image" class="figure-img img-fluid" alt="Construcción Edificio Harley">
            </figure>    
        </div>
    </div>
    <div class="row m-0">
        <div class="col-lg-5 col-md-12 col-sm-12 pl-0" id="col-render-zapata-1">
            <figure class="figure" data-aos="flip-left" data-aos-easing="ease-in-back" data-aos-duration="1500" data-aos-offset="0">
                <img src="img/home/cob_home_render_zapata.jpg" class="figure-img img-fluid" alt="Construcción Edificio Zapata">
            </figure>
        </div>
        <div class="col-lg-7 col-md-12 col-sm-12">
            <h4 class="text-left mt-5 ml-5 primary-color" id="title-leaders">Líderes en el ramo de la construcción</h4>
            <p class="text-left primary-color ml-5 mr-5 mb-4 mt-4 paragraph-font-size" id="paragraph-leaders">
                Con más de 10 años en experiencia en sistemas de construcción y más de 50 casos de éxito, trabajar con nosotros es garantía de calidad y seguridad.
            </p>
            <a href="<?php echo $httpProtocol.$host.$url ?>contacto.php" id="link-know-more" class="btn btn-lg ml-5 btn-outline-third">Conoce más</a>
        </div>
        <div class="col-lg-5 col-md-12 col-sm-12 mt-5 pl-0" id="col-render-zapata-2" style="display: none;">
            <figure class="figure" data-aos="flip-left" data-aos-easing="ease-in-back" data-aos-duration="1500" data-aos-offset="0">
                <img src="img/home/cob_home_render_zapata.jpg" class="figure-img img-fluid" alt="Construcción Edificio Zapata">
            </figure>
        </div>
    </div>
    <section class="row mt-5 ml-0 mr-0" id="container-services-1">
        <div class="container" id="title-services">
            <h4 class="text-left text-uppercase primary-color">Nuestros servicios</h4>
            <p class="text-justify mb-5 primary-color paragraph-font-size">Tenemos una opción adecuada para cada una de las necesidades de tu empresa.</p>
        </div>
        <div class="capa" id="capa">
            <div data-bg="url('img/servicios/cob_servicios_back_arquitectura_full.jpg')" class="d-flex col-3 services service-1" id="serv-arq">
                <div class="d-flex w-100 align-items-center">
                    <h3 class="text-white text-center w-100 service-name-size">Arquitectura<br><a href="<?php echo $httpProtocol.$host.$url ?>arquitectura.php" class="text-white text-decoration-none text-uppercase service-viewmore-size">Ver más ></a></h3>
                </div>
            </div>
            <div data-bg="url('img/servicios/cob_servicios_back_ingenieria_full.jpg')" class="d-flex col-3 services service-2" id="serv-ing">
                <div class="d-flex w-100 align-items-center">
                    <h3 class="text-white text-center w-100 service-name-size">Ingeniería<br><a href="<?php echo $httpProtocol.$host.$url ?>ingenieria.php" class="text-white text-decoration-none text-uppercase service-viewmore-size">Ver más ></a></h3>
                </div>
            </div>
            <div data-bg="url('img/servicios/cob_servicios_back_bim_full.jpg')" class="d-flex col-3 services service-3" id="serv-bim">
                <div class="d-flex w-100 align-items-center">
                    <h3 class="text-white text-center w-100 service-name-size">BIM<br><a href="<?php echo $httpProtocol.$host.$url ?>bim.php" class="text-white text-decoration-none text-uppercase service-viewmore-size">Ver más ></a></h3>            
                </div>
            </div>
            <div data-bg="url('img/servicios/cob_servicios_back_construccion_full.jpg')" class="d-flex col-3 services service-4" id="serv-con">
                <div class="d-flex w-100 align-items-center">
                    <h3 class="text-white text-center w-100 service-name-size">Construcción<br><a href="<?php echo $httpProtocol.$host.$url ?>construccion.php" class="text-white text-decoration-none text-uppercase service-viewmore-size">Ver más ></a></h3>
                </div>
            </div>
        </div>
    </section>
    <section class="row mt-5 ml-0 mr-0" id="container-services-2" style="display: none;">
        <div class="container" id="title-services-mobile">
            <h4 class="text-left text-uppercase primary-color">Nuestros servicios</h4>
            <p class="text-justify mb-5 primary-color paragraph-font-size">Tenemos una opción adecuada para cada una de las necesidades de tu empresa.</p>
        </div>
        <div class="col-12 services-mobile service-mobile-1" id="serv-arq-mobile">
            <h3 class="text-white service-name-size">Arquitectura<br><a href="<?php echo $httpProtocol.$host.$url ?>arquitectura.php" class="text-white text-decoration-none text-uppercase service-viewmore-size">Ver más ></a></h3>
        </div>
        <div class="col-12 services-mobile service-mobile-2" id="serv-ing-mobile">
            <h3 class="text-white service-name-size">Ingeniería<br><a href="<?php echo $httpProtocol.$host.$url ?>ingenieria.php" class="text-white text-decoration-none text-uppercase service-viewmore-size">Ver más ></a></h3>
        </div>
        <div class="col-12 services-mobile service-mobile-3" id="serv-bim-mobile">
            <h3 class="text-white service-name-size">BIM<br><a href="<?php echo $httpProtocol.$host.$url ?>bim.php" class="text-white text-decoration-none text-uppercase service-viewmore-size">Ver más ></a></h3>
        </div>
        <div class="col-12 services-mobile service-mobile-4" id="serv-con-mobile">
            <h3 class="text-white service-name-size">Construcción<br><a href="<?php echo $httpProtocol.$host.$url ?>construccion.php" class="text-white text-decoration-none text-uppercase service-viewmore-size">Ver más ></a></h3>
        </div>
    </section>
    <section class="row mt-5 pt-5 mb-5 ml-0 mr-0" id="container-exitos">
        <div class="container" id="title-exitos">
            <h4 class="text-right text-uppercase primary-color">Casos de Éxito</h4>
            <p class="text-right mb-5 primary-color paragraph-font-size" id="paragraph-exitos">Nuestra mejor recomendación son nuestras obras terminadas y la confianza de nuestros clientes recurrentes.</p>
        </div>
        <div class="galeria" id="galeria">
            <div class="foto">
                <a href="<?php echo $httpProtocol.$host.$url ?>casos-de-exito.php"><img src="img/home/exito/carrusel-casos-exito-01.jpg" alt="Imagen para casos de éxito 1"></a>
            </div>
            <div class="foto">
                <a href="<?php echo $httpProtocol.$host.$url ?>casos-de-exito.php"><img src="img/home/exito/carrusel-casos-exito-02.jpg" alt="Imagen para casos de éxito 2"></a>
            </div>
            <div class="foto">
                <a href="<?php echo $httpProtocol.$host.$url ?>casos-de-exito.php"><img src="img/home/exito/carrusel-casos-exito-03.jpg" alt="Imagen para casos de éxito 3"></a>
            </div>
            <div class="foto">
                <a href="<?php echo $httpProtocol.$host.$url ?>casos-de-exito.php"><img src="img/home/exito/carrusel-casos-exito-04.jpg" alt="Imagen para casos de éxito 4"></a>
            </div>
            <div class="foto">
                <a href="<?php echo $httpProtocol.$host.$url ?>casos-de-exito.php"><img src="img/home/exito/carrusel-casos-exito-05.jpg" alt="Imagen para casos de éxito 5"></a>
            </div>
            <div class="foto">
                <a href="<?php echo $httpProtocol.$host.$url ?>casos-de-exito.php"><img src="img/home/exito/carrusel-casos-exito-06.jpg" alt="Imagen para casos de éxito 6"></a>
            </div>
            <div class="foto">
                <a href="<?php echo $httpProtocol.$host.$url ?>casos-de-exito.php"><img src="img/home/exito/carrusel-casos-exito-07.jpg" alt="Imagen para casos de éxito 7"></a>
            </div>
        </div>
    </section>
    <div class="row p-5 m-0 justify-content-center">
        <img src="img/home/cob_home_planos_arquitectonicos.jpg" id="plano-image" class="figure-img img-fluid rounded d-block" alt="Imagen plano edifcio">
        <div class="ml-5 mt-5" id="container-project-extras">
            <p class="text-left primary-color paragraph-font-size" id="paragraph-project">Si tienes un proyecto en mente,<br>nos encantaría ayudarte a concretarlo<br>exitosamente.</p>
            <a href="<?php echo $httpProtocol.$host.$url ?>contacto.php" id="link-contact-us" class="btn btn-lg btn-outline-third">Contáctanos</a>
        </div>
    </div>
</section>