    <div class="row w-100 pt-5 mt-5">
        <div class="container pt-5 mt-5">
            <div class="d-flex justify-content-end mt-5 pt-5 pl-5 ml-5" data-aos="fade-up-right" data-aos-duration="2500">
                <h1 id="nosotros-banner-1" class="text-uppercase text-white text-right mt-5 pt-5 font-weight-bold">Nosotros</h1>
            </div>
        </div>
    </div>
</div>
<div id="main-home">
    <div class="row mx-0">
        <div class="container">
            <p class="text-left mt-5 primary-color paragraph-welcome-size" id="paragraph-welcome">
                Somos una empresa mexicana con más de 10 años de experiencia, <span class="font-weight-bold">comprometida con la construcción, con valores que nos permiten brindar confianza y seguridad a nuestros clientes.</span>
                <br><br>
                Pendientes siempre de las necesidades del proyecto, contamos con tecnología, conocimiento de los materiales más adecuados para cada proyecto y personal altamente capacitado para la óptima realización del trabajo.
                <br><br>
                <span class="font-weight-bold">Nos distingue el compromiso con el medio ambiente y la experiencia de proyectos sustentables.</span>
            </p>
        </div>
    </div>
    <section class="row mt-5 ml-0 mr-0" id="container-services-1">
        <div class="container" id="title-services">
            <h4 class="text-left text-uppercase primary-color">Otras Áreas de Servicio</h4>
            <p class="text-justify mb-5 primary-color paragraph-font-size">Tenemos una opción adecuada para cada una de las necesidades de tu empresa.</p>
        </div>
        <div class="capa" id="capa">
            <div data-bg="url('img/servicios/cob_servicios_back_arquitectura_full.jpg')" class="d-flex col-3 services service-1" id="serv-arq">
                <div class="d-flex w-100 align-items-center">
                    <h3 class="text-white text-center w-100 service-name-size">Arquitectura<br><a href="<?php echo $httpProtocol.$host.$url ?>arquitectura.php" class="text-white text-decoration-none text-uppercase service-viewmore-size">Ver más ></a></h3>
                </div>
            </div>
            <div data-bg="url('img/servicios/cob_servicios_back_ingenieria_full.jpg')" class="d-flex col-3 services service-2" id="serv-ing">
                <div class="d-flex w-100 align-items-center">
                    <h3 class="text-white text-center w-100 service-name-size">Ingeniería<br><a href="<?php echo $httpProtocol.$host.$url ?>ingenieria.php" class="text-white text-decoration-none text-uppercase service-viewmore-size">Ver más ></a></h3>
                </div>
            </div>
            <div data-bg="url('img/servicios/cob_servicios_back_bim_full.jpg')" class="d-flex col-3 services service-3" id="serv-bim">
                <div class="d-flex w-100 align-items-center">
                    <h3 class="text-white text-center w-100 service-name-size">BIM<br><a href="<?php echo $httpProtocol.$host.$url ?>bim.php" class="text-white text-decoration-none text-uppercase service-viewmore-size">Ver más ></a></h3>            
                </div>
            </div>
            <div data-bg="url('img/servicios/cob_servicios_back_construccion_full.jpg')" class="d-flex col-3 services service-4" id="serv-con">
                <div class="d-flex w-100 align-items-center">
                    <h3 class="text-white text-center w-100 service-name-size">Construcción<br><a href="<?php echo $httpProtocol.$host.$url ?>construccion.php" class="text-white text-decoration-none text-uppercase service-viewmore-size">Ver más ></a></h3>
                </div>
            </div>
        </div>
    </section>
    <section class="row mt-5 ml-0 mr-0" id="container-services-2" style="display: none;">
        <div class="container" id="title-services-mobile">
            <h4 class="text-left text-uppercase primary-color">Otras Áreas de Servicio</h4>
            <p class="text-justify mb-5 primary-color paragraph-font-size">Tenemos una opción adecuada para cada una de las necesidades de tu empresa.</p>
        </div>
        <div class="col-12 services-mobile service-mobile-1" id="serv-arq-mobile">
            <h3 class="text-white service-name-size">Arquitectura<br><a href="<?php echo $httpProtocol.$host.$url ?>arquitectura.php" class="text-white text-decoration-none text-uppercase service-viewmore-size">Ver más ></a></h3>
        </div>
        <div class="col-12 services-mobile service-mobile-2" id="serv-ing-mobile">
            <h3 class="text-white service-name-size">Ingeniería<br><a href="<?php echo $httpProtocol.$host.$url ?>ingenieria.php" class="text-white text-decoration-none text-uppercase service-viewmore-size">Ver más ></a></h3>
        </div>
        <div class="col-12 services-mobile service-mobile-3" id="serv-bim-mobile">
            <h3 class="text-white service-name-size">BIM<br><a href="<?php echo $httpProtocol.$host.$url ?>bim.php" class="text-white text-decoration-none text-uppercase service-viewmore-size">Ver más ></a></h3>
        </div>
        <div class="col-12 services-mobile service-mobile-4" id="serv-con-mobile">
            <h3 class="text-white service-name-size">Construcción<br><a href="<?php echo $httpProtocol.$host.$url ?>construccion.php" class="text-white text-decoration-none text-uppercase service-viewmore-size">Ver más ></a></h3>
        </div>
    </section>
</div>