<p style="font-size:12px; color:#000; font-weight:bold;">
	CONTACTO
</p>
<table style="border:1px solid #e6e6e6; width:600px; padding:20px; color:#666; background:#E2E2E2">
	<tr>
    	<td>
        	<table style="border-bottom:2px solid #04baba; width:100%; height:100px;">
            	<tr>
                	<td><img src="http://bmgcomercial.com/bmgcomercial/img/home/header_logo.png" /></td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
    	<td>
        	<table style="width:100%; min-height:100px; vertical-align:top;">
            	<tr>
                	<td style="width:50%;" valign="top">
                    	<span style="color:04baba; clear:both; font-size:17px; font-weight:bold; font-family:Arial, Helvetica, sans-serif;">
                        	Usuario
                        </span>
                        <span>
                        	<table style="font-size:12px; color:#333;font-family:Arial, Helvetica, sans-serif;">
                            	<tr>
                                	<th style="text-align:left;">Nombre:</th>
                                    <td><?php echo $data['Contacto']['nombre']?></td>
                                </tr>
                                <tr>
                                	<th style="text-align:left;">Email:</th>
                                    <td><?php echo $data['Contacto']['email']?></td>
                                </tr>
                                <tr>
                                	<th style="text-align:left;">Teléfono:</th>
                                    <td><?php echo $data['Contacto']['telefono']?></td>
                                </tr>
                                <tr>
                                	<th style="text-align:left;">Mensaje:</th>
                                    <td><?php echo $data['Contacto']['mensaje']?></td>
                                </tr>
                            </table>
                        	
                        </span>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<br>
