#cuerpo{
	margin-top: -137px;}
#cuerpo .banner {
    position: relative;
    width: 100%;
    z-index: 99;}
.orbit {
    min-width: 1000px;
    overflow: hidden;
    width: 1400px !important;
    margin: 0 auto;}
#featured > div {
	position: absolute;
	display:none;
	width: 1400px;}
#featured, #featured2 { 
	background: url("../images/orbit/loading.gif") no-repeat scroll center center #000000;
    height: 545px;}
.orbit-bullets {
    margin: -49px auto 0;
    width: 1000px;
	position: relative;
	z-index: 9;}
.orbit-bullets li.active {
    background: url(../images/index/vineta_amarilla.png) no-repeat;}
.orbit-bullets li {
    float: right;
    list-style: none;
    overflow: hidden;
    text-indent: -9px;
    background: url(../images/index/vineta_gris.png) no-repeat;
    height: 9px;
    width: 9px;
    margin: 5px;}
.texto > p {
    background: url("../images/index/banner_cuadro.png") no-repeat scroll 0 0 transparent;
    float: right;
    font-size: 29px;
    font-weight: bold;
    height: 188px;
    margin: -310px 0 0 0;
    position: relative;
    text-align: right;
    width: 400px;
    z-index: 99;
	padding: 0 15px 0;
	color: #107895;
	font-weight: normal;}
.texto span {
    color: #3A4D68;
    float: right;
    font-size: 31px;
    margin: 10px 0 0;
    text-transform: uppercase;
    width: 100%;
	font-weight: normal;}
.texto strong {
    color: #3a4d68;
    font-size: 31px;
    float: right;
    width: 100%;
    font-weight: bold;
    margin: -10px 0 0;}
.texto {
    width: 1000px;
    margin: 0 auto;
	min-width: 1000px;}
.contenido {
    background: #fff;
    height: 650px;}
.productos {
    float: left;
    width: 100%;}
.productos li {
    float: left;
    height: 342px;
    list-style: none outside none;
    margin: 20px 0 0 17px;
    width: 311px;}
.p1 {
    background: url("../images/index/home_cuadro1.png") no-repeat scroll 0 0 transparent;}
.p2 {
    background: url("../images/index/home_cuadro2.jpg") no-repeat scroll 0 0 transparent;}
.p3 {
    background: url("../images/index/home_cuadro3.png") no-repeat scroll 0 0 transparent;}
.productos li > p {
    color: #FFFFFF;
    float: left;
    font-size: 26px;
    height: 342px;
    padding: 0 0 0 14px;}
.productos .azul {
    background: url("../images/bg_header.png") repeat-x scroll 0 0 transparent;
    border-right: 6px solid #33C5F4;
    float: left;
    font-size: 28px;
    margin: 25px 0 0 -14px;
    padding: 3px 30px 3px 10px;
    text-transform: uppercase;}
.p1 .azul {
    margin-right: 108px;}
.productos strong {
    float: left;
    font-weight: normal;
    margin: 67px 0 0;
    width: 297px;}
.amarillo {
    color: #faf20c;}
.productos .amarillo {
    float: left;
    font-size: 19px;
    width: 100%;
	margin: 20px 0 0;
	font-weight: bold;}	
.p3 .azul {
    margin-right: 44px;
    width: 221px;}
.p3 strong {
    margin-top: 35px;}
.productos a:hover, .oxicob > a:hover {
	color: #3A4D68;}
.productos a {
    background: url(../images/index/triangulo_der.png) no-repeat;
    float: right;
    height: 72px;
    margin: -72px 0 0;
    position: relative;
    width: 90px;
    color: #fff;
    font-size: 44px;
    text-indent: 52px;
    line-height: 90px;
    text-decoration: none;}
.oxicob {
    background: url("../images/index/home_oxicob.jpg") no-repeat scroll 0 0 transparent;
    float: left;
    height: 190px;
    margin: 20px 14px;
    width: 972px;}
.oxicob > p {
    color: #FFFFFF;
    float: right;
    margin: 0 30px 0 0;
    width: 489px;}
.oxicob .azul {
    color: #76C4F2;
    float: left;
    font-size: 38px;
    font-weight: bold;
    margin: 9px 280px 0 0;
    text-transform: uppercase;}
.oxicob strong {
    border-bottom: 3px solid #76C4F2;
    color: #FFFFFF;
    float: left;
    font-size: 38px;
    margin: -10px 140px 8px -50px;
    padding: 0 146px 0 50px;}
.oxicob .amarillo:hover {
	text-decoration: underline;}
.oxicob .amarillo {
    float: left;
    font-size: 19px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;
	margin: 7px 0 0;}
.oxicob > a {
    background: url("../images/index/triangulo_izq.png") no-repeat scroll 0 0 transparent;
    float: left;
    height: 87px;
    margin: 96px 0 0 5px;
    width: 107px;
    color: #fff;
    font-size: 44px;
    text-decoration: none;
    text-indent: 19px;
    line-height: 107px;}