
.contenido {
    background: none repeat scroll 0 0 #ffffff;
    height: 970px;}
.proyectos {
    float: left;
    width: 659px;}
.proyectos li {
    float: left;
    list-style: none outside none;
    margin: 0 20px 68px;}
.proyectos li > img {
    float: left;}
.proyectos li > h3 {
    border-left: 2px solid #35c6f4;
    color: #3d6c8f;
    float: left;
    font-size: 22px;
    height: 100px;
    margin: 0 0 -37px;
    padding: 6px 9px 0;}
.proyectos li h3 span {
    color: #04132b;
    float: left;
    font-size: 27px;
    width: 100%;}
.proyectos li > p {
    color: #727272;
    float: right;
    font-size: 18px;
    font-weight: bold;
    margin: 0 10px;
    width: 490px;}
.proyectos p strong {
    color: #312f30;
    float: left;
    font-size: 16px;
    font-weight: normal;
    margin: 3px 0 10px;
    width: 100%;}
.proyectos p span {
    float: left;
    font-size: 14px;
    font-weight: normal;
    margin: 0 0 15px;
    width: 100%;}
.form {
    background: none repeat scroll 0 0 #d9e6ec;
    float: right;
    margin: 0 14px;
    width: 311px;}
iframe {
    border: medium none;
    float: right;
    height: 580px;
    width: 311px;}
.tit {
    background: none repeat scroll 0 0 #d9e6ec;
    color: #6b6b6b;
    float: right;
    font-size: 20px;
    padding: 10px 30px 0;
    width: 251px;}
h2 strong {
    color: #3d6c8f;
    float: left;
    font-size: 18px;
    font-weight: normal;
    text-transform: none;
    width: 100%;}
.construccion .proyectos li > img {
    margin: 0 16px;}
.construccion .proyectos li > h3 {
    margin: 0 0 -65px;}
.construccion .proyectos li.p3 > h3 {
    margin: 0 0 -37px;}
.construccion .proyectos li > p span {
    margin: 11px 0;}
.construccion .proyectos li {
    border-bottom: 3px solid #eeeeee;
    margin-bottom: 33px;
    padding-bottom: 20px;
    width: 450px;}
.const li > p {
    width: 320px;}
.inversion h2 span {
    color: #3d6c8f;
    font-size: 29px;}
.inversion .proyectos li > h3 {
    color: #77c5f2;
    font-size: 35px;
    height: 120px;}
.inversion .p1 span {
    color: #a1a1a1;
    font-size: 29px;}
.inversion .p1 > p {
    width: 597px;}
img.inversion {
    margin: 50px 0 0 73px;}
.constru {
    color: #3d6c8f;
    font-size: 24px;
    text-indent: 26px;}
p.cons {
    color: #3d6c8f;
    float: left;
    font-size: 37px;
    margin: 10px 0 60px;
    text-align: center;
    text-transform: uppercase;
    width: 333px;}
.proyectos.const {
    width: 100%;}
.const .p1, .const .p3 {
    height: 290px;}
.proyectos p .dise {
    float: none;
    width: auto;}
.pro .p2 p span {
    float: none;}
.pro li {
    margin-bottom: 54px;}
