* {
    margin: 0;
    padding: 0;}
body{
	font-family: 'Arial';
	background: #E7E7E7;}
img{
	border: none;}
#cuerpo, #pie {
	overflow: hidden;}
#head, #cuerpo, #pie {
    float: left;
    min-width: 1000px;
    width: 100%;}
#head {
    background: url("../images/bg_header.png") repeat-x scroll 0 0 transparent;
	position: relative;
    z-index: 999;}
#cabeza, #cuerpo > div, #pie > p {
    margin: 0 auto;
    width: 1000px;}
#cabeza h1 {
    float: left;
    margin: 15px 0 0 7px;}
.tel {
    color: #FFFFFF;
    float: right;
    font-size: 14px;
    width: 253px;
    text-align: right;
    float: right;
    margin: 15px 0 0;}
.tel > span {
    color: #FFE119;
    font-size: 18px;
	float: left;
    width: 100%;}
#menu1 {
    border-top: 1px solid #003350;
    float: left;
    margin: 5px 0 0;
    min-width: 1000px;
    width: 100%;}
.menu {
    margin: 0 auto;
    width: 1000px;}
.menu >li {
    background: url("../images/menu_texto.png") no-repeat scroll 0 bottom transparent;
    float: left;
    font-size: 13px;
    list-style: none outside none;
    margin: 0 -10px 0 0;}
.menu > li > a {
    color: #FFFFFF;
    float: left;
    text-align: center;
    text-decoration: none;
	padding: 0 10px;
	text-transform: uppercase;}
.menu > li > a span {
	float: left;
    padding: 11px 43px;
	cursor:pointer;}
.menu > li:hover, .menu li.activo {
    background: url("../images/menu_inicio.png") no-repeat scroll 0 bottom transparent;}
.menu > li:hover > a, .menu li.activo a {
    background: url("../images/menu_fin.png") no-repeat scroll right bottom transparent;}
.menu > li:hover > a span, .menu li.activo a span {
    background: #427193;}
.menu li:hover > ul{
	display: block;}
.menu ul{
	background: none repeat scroll 0 0 #E8E8E8;
    display: none;
    margin: 38px 0 0;
    position: absolute;
    width: 173px;
    z-index: 1;
	padding: 3px 0 0;}
.menu ul li {
    border-bottom: 1px solid #FDFDFD;
    float: left;
    list-style: none outside none;
    margin: 0 6px;
    padding: 3px 6px;
    width: 86%;}
.menu ul a {
    color: #030303;
    float: left;
    font-size: 15px;
    text-decoration: none;
    width: 100%;}
.menu ul li:hover {
	background: #FDFDFD; }
h2 {
    color: #030303;
    float: left;
    font-size: 37px;
    margin: 30px 20px;
    text-transform: uppercase;
    width: 960px;}
.contenido h2 span {
    color: #107895;
    font-size: 43px;}
#pie {
    background: url("../images/bg_footer.png") repeat-x scroll 0 0 transparent;
    height: 31px;
    padding: 17px 0;}
.dir {
    color: #FFFFFF;
    font-size: 14px;
    text-align: center;}
.inmobiliaria {
    background: url("../images/btn_homecob.png") no-repeat scroll 0 0 transparent;
    float: left;
    height: 33px;
    margin: 0 0 0 144px;
    width: 199px;}
.dir > a {
    float: right;
    color: #fff;
    margin: -28px 30px 0 0;
    text-decoration: none;
	display: none;}