.contenido {
    background: none repeat scroll 0 0 #FFFFFF;
	height: 970px;}
.contenido > img {
    float: left;
    margin: 0 0 0 20px;}
.contenido > p {
    color: #000001;
    float: left;
    font-size: 16px;
    margin: 0 0 100px 20px;
    width: 527px;}
.contenido > p strong {
    color: #04132B;
    float: left;
    font-size: 26px;
    margin: 30px 0;
    width: 100%;}
.contenido > p span {
    color: #3D6C8F;
    float: left;
    font-size: 24px;
    margin: 0 60px 10px 0;}
.somos {
    background: none repeat scroll 0 0 #FAFAFA;
    float: left;
    margin: 50px 20px 0;
    width: 960px;}
.somos li {
    float: left;
    list-style: none outside none;
    margin: 0 15px;
    padding: 20px 0;
    text-align: center;
    width: 290px;}
.somos li > p {
    color: #030303;
    font-size: 14px;
    text-align: justify;}
.linea {
    border-bottom: 2px solid #35C6F4;
    float: left;
    height: 60px;
    margin: 11px 0 10px;
    text-transform: uppercase;
    width: 100%;}
.linea > span {
    color: #04132B;
    font-size: 18px;
    font-weight: bold;}
.linea > strong {
    color: #107895;
    font-size: 20px;}	
.soluciones {
    background: none repeat scroll 0 0 #FAFAFA;
    float: right;
    height: 232px;
    width: 430px;}
.soluciones > li {
    list-style: none outside none;
    margin: 13px 0 0px 30px;
    padding: 0 0 0 30px;
	color: #107895;
    font-size: 36px;
    text-decoration: none;
    text-transform: uppercase;}
.soluciones a {
    color: #107895;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;}
.soluciones a:hover {
	text-decoration: underline;}
.soluciones .s1 {
    background: none ;
    font-size: 18px;
    margin: 20px 0 0;
    padding: 0;
    text-indent: 40px;
	color: #000;
	text-transform: inherit;}