
.contenido {
    background: none repeat scroll 0 0 #ffffff;
    height: 770px;}
iframe {
    background: none repeat scroll 0 0 #fafafa;
    border: medium none;
    float: left;
    height: 580px;
    margin: 0 14px;
    width: 311px;}
.tit {
    background: none repeat scroll 0 0 #fafafa;
    color: #6b6b6b;
    float: left;
    font-size: 20px;
    margin: 0 14px;
    padding: 10px 30px 0;
    width: 251px;}
.fomu {
    background: none repeat scroll 0 0 #fafafa;
    float: left;
    margin: 0 0 0 110px;
    width: 335px;}
.mapa {
    background: none repeat scroll 0 0 #fafafa;
    float: left;
    height: 614px;
    margin: 0 110px 0 0;
    width: 442px;}
.mapa2 {
    border-left: 3px solid #f1f1f1;
    float: left;
    height: 565px;
    margin: 20px 0;
    width: 100%;}
.map {
    border: 1px solid #33c5f3;
    float: left;
    height: 329px;
    margin: 42px 36px 20px;
    width: 363px;}
#datos > p {
    color: #6b6b6b;
    float: left;
    font-size: 15px;
    line-height: 22px;
    margin: 40px 0 0;
    text-align: center;
    width: 100%;}
.gm-style-iw {
    width: 196px;}
.titulo_Campus {
    color: #107895;
    font-size: 16px;}
#Contenido0 > p span {
    font-size: 13px !important;}
.contenido.enviado > p {
    color: #6b6b6b;
    float: left;
    font-size: 20px;
    line-height: 47px;
    margin: 50px 0 0;
    text-align: center;
    width: 100%;}
.contenido.enviado {
    height: 500px;}
