
* {
    margin: 0;
    padding: 0;}
body {
    font-family: 'Arial';
    overflow: hidden;
    width: 310px;}
img {
    border: medium none;}
form {
    float: right;
    height: 454px;
    padding: 10px 20px;
    width: 273px;}
form > input, form textarea {
    background: none no-repeat scroll 10px center #ffffff;
    border: 1px solid #dedede;
    color: #707070;
    float: left;
    font-family: Arial;
    font-size: 14px;
    height: 38px;
    margin: 15px 0 5px;
    text-indent: 35px;
    width: 100%;}
.nombre {
    background-image: url("../images/formulario/icon_nombre.jpg");}
.telefono {
    background-image: url("../images/formulario/icon_telefono.jpg");}
.email {
    background-image: url("../images/formulario/icon_email.jpg");}
form textarea {
    background-image: url("../images/formulario/icon_comentario.jpg");
    background-position: 10px 11px;
    height: 97px;
    padding: 10px 0 0 35px;
    text-indent: 0;
    width: 237px;}
label {
    color: #6b6b6b;
    float: left;
    font-size: 14px;
    margin: 6px 0 2px;
    width: 100%;}
label input {
    float: left;
    margin: 2px 7px 0 12px;}
.enviar {
    background: none repeat scroll 0 0 #33c5f3;
    color: #ffffff;
    cursor: pointer;
    height: 30px;
    margin: 20px 64px 0;
    text-indent: 0;
    text-transform: uppercase;
    width: 145px;}

#form > div {
    float: left;
    margin: 12px 0 0 -15px;}
body > div {
    margin: 0 0 0 -17px;}
