.contenido {
    background: none repeat scroll 0 0 #FFFFFF;
	height: 1230px;}	
.contenido > img {
    float: left;
    margin: 60px 66px 0;}
h2 {
    float: right;
    margin-right: 339px;
    width: 211px;}
.contenido > p {
    color: #030303;
    float: right;
    font-size: 14px;
    margin: 0 20px 0 0;
    text-align: justify;
    width: 536px;}
.oxicob {
    float: right;
    margin: 30px 0 0;
    width: 609px;}
.oxicob li {
    float: left;
    list-style: none outside none;}
.oxicob li > img {
    float: left;}
.oxicob li > h3 {
    color: #3D6C8F;
    float: left;
    font-size: 18px;
    font-weight: normal;
    width: 506px;}
.oxicob li strong {
    color: #04132B;}
.oxicob li > p {
    color: #6E6E6E;
    float: left;
    font-size: 14px;
    margin: 12px 0 28px 12px;
    width: 426px;}
.gris {
    background: none repeat scroll 0 0 #F7F7F7;
    float: left;
    margin: 10px 0 0;
    padding: 20px 0;
    width: 100%;}
.gris > p {
    color: #030303;
    float: left;
    font-size: 14px;
    margin: 0 15px;
    text-align: justify;
    width: 470px;}
.gris span {
    color: #3D6C8F;
    float: left;
    font-size: 34px;
    width: 100%;}
.gris strong {
    color: #04132B;
    float: left;
    margin: 10px 0 30px;
    width: 96%;}
.contenido .abajo {
    color: #04132B;
    float: left;
    font-size: 17px;
    margin: 15px 0;
    text-align: center;
    width: 100%;}
.abajo > span {
    color: #958A10;
    font-size: 24px;
    font-weight: bold;}
ul.colores {
    float: left;
    margin: 32px 0 0;
    width: 220px;}
ul.colores li.marcado  img{
    border: 2px solid #9A8B00;	}
ul.colores li  img{	
	border: 2px solid #fff;}
ul.colores li {
    cursor: pointer;
    float: left;
    font-size: 13px;
    height: 90px;
    list-style: none outside none;
    margin: 0 4px 0 2px;
    text-align: center;
    width: 67px;}
.colorImagenes > p {
    background: url("../images/oxicob/oxicob_flechas.png") no-repeat scroll 0 center transparent;
    color: #3D6C8F;
    float: right;
    font-size: 23px;
    font-weight: bold;
    margin: 101px 10px 0 0;
    padding: 0 0 0 21px;
    text-align: center;
    width: 158px;}
.colorImagenes {
    float: left;
    width: 100%;}
.colorImagenes > div {
    float: left;}
#colorImagenes1 img {
    border: 2px solid #9A8B00;
    margin: 20px 15px 0 20px;}