<link rel="stylesheet" type="text/css" href="/bek/banner/engine1/style.css" />
<div id="wowslider-container1">
    <div class="ws_images"><ul>
        <li><img src="/bek/banner/data1/images/1.jpg" alt="1" title="1" id="wows1_0"/></li>
        <li><img src="/bek/banner/data1/images/2.jpg" alt="2" title="2" id="wows1_1"/></li>
    </ul></div>
    <div class="ws_bullets"><div>
        <a href="#" title="1"><span>1</span></a>
        <a href="#" title="2"><span>2</span></a>
    </div></div>
    <div class="ws_shadow"></div>
 </div>	
    <script type="text/javascript" src="/bek/banner/engine1/wowslider.js"></script>
    <script type="text/javascript" src="/bek/banner/engine1/script.js"></script>
 