<?php ?>
<table width="1020" height="110" border="0" cellspacing="0" cellpadding="0">
  <tbody>
	<tr>
	  <td align="left" valign="bottom" class="busqueda-bg"><table width="1020" border="0" cellspacing="0" cellpadding="0">
		<tr>
		  <td width="355" height="80" class="busqueda-tit">BÚSQUEDA AVANZADA</td>
		  <td><form>
<span><input type="text" class="search" placeholder="CATEGORÍAS" width="171"></span></form></td>
		  <td><form>
<span><input type="text" class="search1" placeholder="PALABRA CLAVE" width="171"></span></form></td>
		  <td><form>
<span><input type="text" class="search1" placeholder="CÓDIGO" width="171"></span></form></td>
			<td align="right" valign="middle"><a href="#"><img src="/beck/imagenes/catalogo/catalogo_06.png" class="busqueda-boton" /></a></td>
		</tr>
	  </table></td>
	</tr>
  </tbody>
</table>