<table width="1020" border="0" cellspacing="0" cellpadding="0">
  <tbody>
    <tr>
      <td height="145" align="left" valign="top" class="contacto-bg1"><table width="1020" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td width="191" height="145" align="left" valign="middle"><a href="#"><img src="/beck/imagenes/contacto/contacto_03.png" alt="BEK" width="191" height="103" /></a></td>
          <td width="829"><table width="829" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td height="42" align="right" valign="bottom" class="cabeza-c1"><span class="cabeza-cont"><a href="#">CONTACTO</a></span><a href="#"><img src="/beck/imagenes/contacto/contacto_04.jpg" alt="BEK" width="28" height="28" class="cabeza-img1" /><img src="/beck/imagenes/contacto/contacto_05.jpg" alt="BEK" width="28" height="28" class="cabeza-img2" /></a><span class="cabeza-tel">5576•8029 </span><span class="cabeza-mail1"><a href="mailto:ventas@bek.mx">ventas</a></span><span class="cabeza-mail2"><a href="mailto:ventas@bek.mx">@bek</a></span><span class="cabeza-mail3"><a href="mailto:ventas@bek.mx">.mx</a></span></td>
            </tr>
            <tr>
              <td height="50" align="left" valign="bottom" class="cabeza-menu"><a href="#">HOTELES</a> <span class="cabeza-menu1">|</span> <a href="#">RESTAURANTES</a> <span class="cabeza-menu1">|</span> <a href="#">BARES</a> <span class="cabeza-menu1">|</span> <a href="#">JARDINES</a> <span class="cabeza-menu1">|</span><a href="#"> CENTROS COMERCIALES</a> <span class="cabeza-menu1">|</span> <a href="#">CONDOMINIOS</a> <span class="cabeza-menu1">|</span> <a href="#">CASAS</a> <span class="cabeza-menu1">|</span> <a href="#">TERRAZAS</a> <span class="cabeza-menu1">|</span> <a href="#">EXTERIORES</a></td>
            </tr>
          </table></td>
        </tr>
      </table></td>
    </tr>
  </tbody>
</table>




<?php
/*echo $this->Html->image(
    'front-end/menu.jpg',
    array('usemap' => '#Map2Map')
);
?>
<?php echo FULL_BASE_URL.Configure::read('cakePagePath'); ?>
<map name="Map2Map" id="Map2Map">
    <area shape="rect" coords="345,132,450,176" href="<?php echo FULL_BASE_URL.Configure::read('cakePagePath'); ?>" />
    <area shape="rect" coords="853,132,975,181" href="<?php echo $this->Html->url(array('admin'=>false,'plugin'=>false,'controller'=>'store','action'=>'categorias')); ?>" />
    <area shape="rect" coords="573,40,739,114" href="<?php echo FULL_BASE_URL.Configure::read('cakePagePath'); ?>/servicio_clientes.html" />
    <area shape="rect" coords="745,48,948,111" href="<?php echo FULL_BASE_URL.Configure::read('cakePagePath'); ?>/proceso_compra.html" />
    <area shape="rect" coords="591,135,715,179" href="<?php echo FULL_BASE_URL.Configure::read('cakePagePath'); ?>/preguntas.html" />
    <area shape="rect" coords="455,137,589,182" href="<?php echo FULL_BASE_URL.Configure::read('cakePagePath'); ?>/somos.html" />
    <area shape="rect" coords="723,135,845,184" href="<?php echo FULL_BASE_URL.Configure::read('cakePagePath'); ?>/contacto.html" />
</map>
<!--
<map name="Map2MapMap" id="Map2MapMap">
            <area shape="rect" coords="345,132,450,176" href="http://www.contraste.tv/AdaInnova" />
            <area shape="rect" coords="853,132,975,181" href="http://www.contraste.tv/AdaInnova/apps/home/categorias" />
            <area shape="rect" coords="573,40,739,114" href="servicio_clientes.html" />
            <area shape="rect" coords="745,48,948,111" href="proceso_compra.html" />
            <area shape="rect" coords="591,135,715,179" href="preguntas.html" />
            <area shape="rect" coords="454,137,588,182" href="somos.html" />
            <area shape="rect" coords="723,135,845,184" href="contacto.html" />
          </map>
-->*/?>