<?php ?>
<div class="container">
    <div class="row">
        <div class="left span6">
            <div style="float:left; width:60px;">
                <?php echo $this->Html->image('icons/logo.png',array("title"=>"Contraste", "alt"=>"Contraste"));?>
            </div>
            <div style="float:left;">
                Web created by <a href="http://www.nbsp.cat/" title="disseny web Barcelona">Contraste Diseño y Publicidad</a></div>
            </div>
            <div class="right span6">
            <!--<div class="credit_card mastercard">
            </div>
            <div class="credit_card paypal">
            </div>
            <div class="credit_card visa">
            </div>-->
        </div>
    </div>
</div>