<?php $lineas = $this->requestAction('store/getProyectos');//pr($categories);?>
<div id="menu-lateral">
	<div class="menu-lateral-titulo">PROYECTOS</div>
    	<div class="menu-lateral-categorias">
        	<?php foreach($lineas as $key=>$linea):?>
            	<table width="100%">
                	<tr>
                    	<td width="80%"> <span class="menu-lateral-categorias-texto2">
							<?php //echo $linea ?>
                            <?php
								echo $this->Html->link(
									$linea,
									array(
										//'admin'=>false,
										//'plugin'=>NULL,
										'controller'=>'store',
										'action'=>'proyects',
										'id' => $key,
										'slug' => Inflector::slug($linea),
										'ext' => 'html'
										),
									array(
										'escape' => false,
										
									)
								);
							?>
                            </span></td>
                        <td width="20%" align="center">
                        	<?php
								echo $this->Html->link(
									$this->Html->image('home/bek-b-mas-menu.png',array("class"=>"menu-lateral-categorias-bullet2")),
									array(
										//'admin'=>false,
										//'plugin'=>NULL,
										'controller'=>'store',
										'action'=>'proyects',
										'id' => $key,
										'slug' => Inflector::slug($linea),
										'ext' => 'html'
										),
									array(
										'escape' => false,
										
									)
								);
							?>
                        </td>
                    </tr>
                </table>
            <?php endforeach?>
        </div>
    </div>
 