<?php ?>
<table width="1020" border="0" cellspacing="0" cellpadding="0">
          <tbody>
            <tr>
              <td align="left" valign="top" class="pie-fondo"><table width="1020" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td><table width="1020" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td width="196" height="206" class="pie-c1"><a href="http://bek.mx/"><img src="/beck/imagenes/pie_03.png" width="106" height="58" class="pie-img1" /></a>
                      <p><span class="pie-menu1">• <a href="http://bek.mx/">HOME</a><br />
                        • <a href="#">BEK LA EMPRESA</a><br />
                        • <a href="http://bek.mx/contacto.html">CONTACTO</a></span><br />
                        <span class="pie-menu2">• <a href="#">AVISO DE PRIVACIDAD</a></span></p></td>
                      <td width="25" align="left" valign="top"><img src="/beck/imagenes/pie_06.png" width="25" height="152" class="pie-img2" /></td>
                      <td width="212" align="left" valign="top" class="pie-menu3"><span class="pie-bullets">•</span> <a href="#">SILLAS</a><br />
                        <span class="pie-bullets">•</span> <a href="#">BANCAS</a><br />
                        <span class="pie-bullets">•</span> <a href="#">MESAS </a><br />
                        <span class="pie-bullets">•</span> <a href="#">SALAS</a><br />
                        <span class="pie-bullets">•</span> <a href="#">COMEDORES</a><br />
                        <span class="pie-bullets">•</span> <a href="#">RECIBIDORES</a><br />
                        <span class="pie-bullets">•</span> <a href="#">SOMBRILLAS</a><br />
                        <span class="pie-bullets">•</span> <a href="#">CAMASTROS</a><br />
                        <span class="pie-bullets">•</span> <a href="#">COLUMPIOS CON ESTRUCTURA</a><br />
                        <span class="pie-bullets">•</span> <a href="#">BANCOS &amp; PERIQUEROS</a><br />
                      <span class="pie-bullets">•</span> <a href="#">VARIOS</a></td>
                      <td width="25" align="left" valign="top"><img src="/beck/imagenes/pie_04.png" width="25" height="148" class="pie-img2" /></td>
                      <td width="200" align="left" valign="top" class="pie-menu3"><span class="pie-bullets">•</span> <a href="#">HOTELES</a><br />
                        <span class="pie-bullets">•</span> <a href="#">RESTAURANTES</a><br />
                        <span class="pie-bullets">•</span> <a href="#">BARES</a><br />
                        <span class="pie-bullets">•</span> <a href="#">JARDINES</a><br />
                        <span class="pie-bullets">•</span> <a href="#">CENTROS COMERCIALES</a><br />
                        <span class="pie-bullets">•</span> <a href="#">CONDOMINIOS</a><br />
                        <span class="pie-bullets">•</span> <a href="#">CASAS</a><br />
                        <span class="pie-bullets">•</span> <a href="#">TERRAZAS</a><br />
                      <span class="pie-bullets">•</span> <a href="#">EXTERIORES</a></td>
                      <td width="25" align="left" valign="top"><img src="/beck/imagenes/pie_05.png" width="25" height="155" class="pie-img2" /></td>
                      <td width="257" align="left" valign="top" class="pie-menu4">CALLE 3 # 37, BODEGA &quot;B&quot;, <br />
                        COL. ALCE BLANCO, <br />
                      NAUCALPAN EDO. DE MÉXICO, C.P. 53370.
                      <p class="pie-tel">55.76.80.29<br />
                        51.09.31.06<br />
                      59.89.55.95<span class="pie-mail1"><br />
                      <a href="mailto:ventas@bek.mx">ventas</a></span><span class="pie-mail2"><a href="mailto:ventas@bek.mx">@bek</a></span><span class="pie-mail1"><a href="mailto:ventas@bek.mx">.mx</a></span></p></td>
                      <td width="80" align="center" valign="top"><a href="#"><img src="/beck/imagenes/pie_07.png" width="28" height="28" class="pie-img3" /></a>
                      <p><a href="#"><img src="/beck/imagenes/pie_08.png" width="28" height="28" /></a></p></td>
                    </tr>
                  </table></td>
                </tr>
                <tr>
                  <td height="58" align="right" valign="middle" class="pie1">BEK -DESIGN- © 2016  | Todos los derechos reservados.</td>
                </tr>
              </table></td>
            </tr>
          </tbody>
        </table>