<div id="primary" class="sidebar-left">
    <div class="container group">
        <div id="content-page" class="span8 content group">
            <h1>Conoce nuestro<strong> Trabajo</strong></h1>
            <p>Esta es solo una muestra de algunos trabajos no dudes en ponerte en contacto con nosotros para hacerte una presentación personalizada con una amplia gama de soluciones para que veas las posibilidades que tenemos para ti.</p>
        </div>
        <div class="span2 ">
            <h3>Portafolio</h3>
       	</div>
    </div>
</div>
