<table width="1020" border="0" cellspacing="0" cellpadding="0">
  <tbody>
    <tr>
      <td align="left" valign="top"><img src="/beck/imagenes/catalogo/catalogo_01.jpg" width="1020" height="350" /></td>
    </tr>
  </tbody>
</table>