a img {
    border: medium none;}
body {
    margin: 0;
    padding: 0;
    width: 100%;}
.centro {
    height: 200px;
    margin: 120px 0 0;
    padding: 0;
    position: relative;
    width: 100%;}
.centro form {
    margin: 0 auto;
    width: 884px;}
.centro form img {
    float: left;
    margin: 0;}
.centro form .marco {
    background: url("../images/entrada.png") no-repeat scroll 0 0 transparent;
    float: left;
    height: 202px;
    margin: -2px 0 0;
    width: 548px;}
label {
    color: #5D5D5D;
    float: left;
    font-family: arial;
    font-size: 24px;
    width: 160px;}
.sub {
    background: url("http://www.gorooster.net/images/btn_enviar.png") no-repeat scroll 0 0 transparent;
    border: medium none;
    color: #FFFFFF;
    font-weight: bold;
    height: 30px;
    line-height: 30px;
    margin: 30px 200px 0;
    width: 146px;}
video {
    min-width: 1000px;
    position: fixed;
    width: 100%;}
p img {
    float: right;
    margin: 10px 70px 10px 20px;}
body .pie{
    background: none repeat scroll 0 0 #FFFFFF;
    bottom: 0;
    font-family: "arial";
    line-height: 64px;
    margin: 0;
    min-width: 1000px;
    position: absolute;
    text-align: right;
    width: 100%;}
.logo {
    background: url("../images/parte_logo.png") no-repeat scroll center 0 transparent;
    height: 267px;
    min-width: 1000px;
    position: relative;
    text-align: center;
    width: 100%;}
.logoBlanco {
    background: url("../images/parte_logo.png") no-repeat scroll 0 0 transparent;
    height: 326px;
    margin: 0 auto;
    width: 660px;}
.logoBlanco > img {
    margin: 120px 0 0;}
.renglon1 {
    float: left;
    margin: 30px 145px 0;}
.renglon1 > input, .renglon2 > input {
    border-left: 2px solid #9A9A9A;
    border-top: 2px solid #9A9A9A;
    height: 30px;
    width: 262px;}
.renglon2 {
    float: left;
    margin: 17px 145px 0;}
.video-background {
    position: absolute;}
.logo > img {
    margin: 40px 0 0;}
.error{
    font-family: "arial";
    margin: 0;
    position: absolute;
    text-align:center;
    width: 100%;}