.campos {
	font-size: 14px;}
.campos input{
	font-size: 13px;
    height: 21px;}
.linea .campos > input {
    width: 220px;}
.linea .campos {
    margin-right: 45px;
    width: 425px;}
.campos.dir {
    font-size: 25px;}
.linea {
    border-top: 2px solid #062165;
    float: left;}
.propiedades > table {
    float: left;
    margin: 40px 0 -3px;
	width: 99%;}
.informacion > input {
    background: none repeat scroll 0 0 #062165;
    border: medium none;
    color: #FFFFFF;
    float: left;
    font-family: "arial";
    font-size: 14px;
    height: 35px;
    margin: 0;
    padding: 0 8px 0 0;
    text-align: center;
    width: 179px;}
.informacion {
    border: 1px solid #000B27;
    float: left;
	width: 928px;
	margin: 40px 0 0;}
.inmueble {
    float: left;
    width: 660px;}
.operacion {
    float: right;
    width: 200px;}
.inmueble, .operacion {
	background: #EAEAEA;
    height: 90px;
	margin: 60px 0 0;}
.inmueble > p, .operacion > p {
    color: #132138;
    float: left;
    font-size: 14px;
    margin: -37px 0 0;
    text-indent: 20px;
    width: 100%;}
.radio, .checkbox {
    background: url("../../images/radio.png") no-repeat scroll right 0 transparent;
    color: #132138;
    display: block;
    float: left;
    font-size: 14px;
    height: 21px;
    line-height: 22px;
    margin: 14px 0 0 36px;
    padding: 0;
    width: 120px !important;}
span.radio, span.checkbox {
    float: right;
    height: 20px !important;
    margin: 0 !important;
    padding: 0;
    width: 20px !important;}
.operacion > .radio {
    margin-left: 58px;
    width: 75px !important;}
.imagenes, .inf , .opciones{
    border-top: 1px solid #062165;
    float: left;
    margin: 30px 20px -13px;
    padding: 10px 0 0;
    width: 888px;}
.imagenes > .img input{
    background: url("../images/imagenes.png") no-repeat scroll 0 0 transparent;
    color: #132138;
    float: left;
    font-size: 14px;
    margin: 20px 30px 10px;
    padding: 97px 0 7px;
    text-align: center;
    width: 97px;
	font-family: "Arial";
	border: none;}
.imagenes > a {
    float: left;
    margin: 58px 0 0;}
.cantidad {
    float: left;
    height: 83px;
    margin: 25px 10px 0;
    overflow: hidden;
    width: 650px;}
.inf textarea, .inf input {
    border: 1px solid #CDCDCD;
    color: #132138;
    float: right;
    font-family: "arial";
    font-size: 14px;
    height: 25px;
    width: 210px;}
.inf > label {
    color: #132138;
    float: left;
    font-size: 14px;
    margin: 30px 17px 0 20px;
    width: 310px;
	line-height: 25px;}
.inf textarea {
    height: 100px;
    width: 350px;}
.inf .desc {
    width: 448px;}
.inf .terreno {
    margin-right: 155px;}
.inf a {
    background: url("../images/mapa.jpg") no-repeat scroll center bottom transparent;
    color: #444444;
    float: right;
    font-size: 12px;
    height: 54px;
    margin: -23px -291px -6px 0;
    text-align: center;
    text-decoration: none;
    width: 70px;}
#construccion {
    margin-top: -26px;}
.cantidad > ul {
    float: left;
    width: 500%;}
.cantidad li {
    list-style: none outside none;
	float: left;
	margin: 0 6px;}
.imagen > img {
    float: left;
    height: 83px;
    width: 150px;}
.elim {
    background: url("../images/quitar_foto.png") no-repeat scroll 0 0 transparent;
    height: 22px;
	float: left;
    margin: 0 0 0 -24px;
    overflow: hidden;
    text-indent: 20px;
    width: 24px;
	cursor:pointer;}
.text {
    float: left;
    margin: 10px 0 0 20px;
    width: 150px;}
.text > label {
    color: #132138;
    float: left;
    font-size: 14px;
    margin: 10px 0 0;
    width: 100%;}
.text input {
    float: right;
    height: 19px;
    width: 32px;
    font-family: "arial";font-size: 14px;}
.checkbox {
    background: url("../../images/radio.png") no-repeat scroll 0 0 transparent;
	float:left !important;   
	margin: 14px 0 0 47px;
    width: 141px !important;}
.otro {
    float: right;
    height: 165px;
    color: #132138;
    font-size: 14px;
	margin: 10px 0 0;}
.otro textarea {
	float: right;
    height: 109px;
    margin: 0 2px 0 10px;
    width: 112px;
    font-family: "arial";font-size: 14px;}
.detalles {
    background: none repeat scroll 0 0 #EAEAEA;
    border: 3px solid #42C8F3;
    float: left;
    margin: 0 0 -1px -1px;}
.detalles {
    background: none repeat scroll 0 0 #EAEAEA;
    border: 3px solid #42C8F3;
    float: left;
    margin: 0 0 -1px -1px;}
.detalles > p {
    border-right: 1px solid #42C8F3;
    color: #444444;
    float: left;
    font-size: 14px;
    font-weight: bold;
    margin: 9px 0 9px 12px;
    padding: 13px 31px;}
.detalles .checkbox {
	background-position: right 0;
    float: right !important;
	margin-left: 6px !important;}
.detalles > .checkbox {
    float: left !important;
    margin-left: 11px !important;
    margin-right: 18px;
    margin-top: 19px;
    text-align: right;
    width: 142px !important;}
.contenidoConsola form > input {
    margin: 30px -720px 0 750px;
    position: relative;}
#Enviar {
    background: url("../images/guardar.png") no-repeat scroll center top transparent;}
#cancelar {
    background: url("../images/eliminar.png") no-repeat scroll center top transparent;}
#Enviar:hover {
    background: url("../images/guardar_over.png") no-repeat scroll center top transparent;}
#cancelar:hover {
    background: url("../images/eliminar_over.png") no-repeat scroll center top transparent;}
.contenidoConsola form > input:hover {
	color: #000B27;}
.contenidoConsola form > input {
    border: medium none;
    color: #42C8F3;
    font-family: "arial";
    font-size: 14px;
    height: 60px;
    margin: 30px -720px 0 750px;
    padding: 43px 0 0;
    position: relative;
    width: 48px;  
	text-align: center;
    width: 66px;
	cursor:pointer;}
.oculto{display: none;}
.ui-helper-hidden-accessible, #id{
    display: none;}
.ui-autocomplete {
	background: none repeat scroll 0 0 #3D638F;
    width: 177px !important;
	float: left;}
.ui-menu-item {
    list-style: none outside none;}
.ui-corner-all a{
    color: #FFFFFF;
    float: left;
    font-size: 15px;
    padding: 2px 10px;
    text-indent: 10px;
    width: 157px;}
.ui-corner-all a:hover, .ui-corner-all.ui-state-focus {background: #062165;}