body {
    background: none repeat scroll 0 0 #E7E7E7;
    font-family: "arial";}
*{
	margin: 0;
	padding: 0;}
#cabezaConsola {
    background: none repeat scroll 0 0 #000B27;
    border-bottom: 7px solid #35C6F4;
    float: left;
    height: 70px;
    min-width: 1000px;
    width: 100%;}
#cabezaConsola .contenidoConsola{
    float: left;
    margin: 0 0 9px;
    width: 100%;}
.logo {
    color: #E7E7E7;
    float: left;
    font-size: 14px;
    padding: 23px 0 0;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    width: 398px;}
.logo > img {
    float: left;
    height: 60px;
    margin: -15px 0 0;}
.cabezaInf {
    margin: 0 auto;
    min-width: 1000px;
    width: 1000px;}
.cabezaInf p {
    color: #fff;
    float: left;
    font-family: "Open Sans",arial;
    font-size: 14px;
	margin: -30px 0 0 570px;}
.cabezaInf ul {
    float: right;
	margin: -30px 0 0;}
.cabezaInf li {
    float: right;
    list-style: none outside none;}
.menuConsola a:hover {
	text-decoration: underline;}
.menuConsola a {
    color: #fff;
    font-size: 12px;
    text-decoration: none;
	font-family: "Open Sans",arial;
	padding: 0 20px;}
.editar {
    float: left;
    margin: 20px 0 0;
    width: 100%;
	min-width: 1000px;}
#cuerpoConsola .contenidoConsola {
    background: none repeat scroll 0 0 #FAFAFA;
    margin: 0 auto;
    padding: 30px;
    width: 940px;}
.campos {
    color: #000B27;
    float: left;
    font-family: "open sans",arial;
    font-size: 18px;
    margin: 18px 0 0;
    width: 100%;}
.campos input {
    border: 2px solid #477598;
    color: #000B27;
    float: right;
    font-family: "Open Sans",arial;
    font-size: 14px;
    height: 23px;
    margin: 0 80px 0 0;
    width: 704px;
	text-indent: 5px;}
.propiedades > p {
    color: #132138;
    float: left;
    font-family: "arial";
    font-size: 18px;
    font-weight: bold;
    margin: 23px 0;
    text-align: right;
    width: 96%;}
.opciones > select {
    border: 1px solid #CDCDCD;
    color: #132138;
    font-size: 14px;
    height: 23px;
    margin: 25px 0 0 23px;
    width: 210px;}
.dataTables_filter {
    background: url("../../images/buscar.png") no-repeat scroll 218px center transparent;
    border: 1px solid #CDCDCD;
    float: left;
    margin: -64px 0 0 390px;
    width: 240px;}
#DataTables_Table_0_filter > label {
    float: left;
    overflow: hidden;
    text-indent: -57px;
    width: 240px;}
#DataTables_Table_0_filter input {
    border:  none;
	background: none;
    color: #132138;
    font-family: "arial";
    font-size: 17px;
    height: 30px;
    margin: 0 0 0 8px;
    width: 201px;}
.op {
    float: right;
	margin: 0 50px 0 0;}
.op a:hover {
	color: #000B27;}
.op a {
    color: #35C6F4;
    float: left;
    font-size: 14px;
    margin: 0 14px;
    padding-top: 46px;
    text-align: center;
    text-decoration: none;
    width: 55px;}
.edita {
    background: url("../images/editar.png") no-repeat scroll center 0 transparent;}
.nuevo {
    background: url("../images/nuevo.png") no-repeat scroll center 0 transparent;}
.eliminar {
    background: url("../images/eliminar.png") no-repeat scroll center 0 transparent;}
.edita:hover {
    background: url("../images/editar_over.png") no-repeat scroll center 0 transparent;}
.nuevo:hover {
    background: url("../images/nuevo_over.png") no-repeat scroll center 0 transparent;}
.eliminar:hover {
    background: url("../images/eliminar_over.png") no-repeat scroll center 0 transparent;}
.dataTables_wrapper {
    margin: 10px 0 0;
	float: left;}
.first, .last  {
    display: none;}
.dataTable {
    border: 1px solid #000000;
    border-collapse: collapse;
    width: 100%;
	margin: 0 0 30px;}
.cabeza {
    background: none repeat scroll 0 0 #444444;
    border: medium none;}
.dataTable tr > th {
    border-right: 8px solid #FFFFFF;
    color: #FAF20C;
    font-size: 14px;
    height: 48px;
    width: 185px !important;}
.telefono {
    border: none !important;}
.dataTable tbody td {
    color: #132138;
    font-size: 14px;
    height: 35px;
    text-align: center;}
.dataTable tbody tr {
    border-bottom: 1px solid #000000;}
.dataTable tbody tr:hover td, .dataTable tbody .sel td {
	color: #fff;}
.dataTable tbody tr:hover, .dataTable tbody .sel {
    background: none repeat scroll 0 0 #062165;
	cursor:pointer;}
.dataTables_info {
    color: #666666;
    float: right;
    font-family: "open sans",Arial;
    font-size: 14px;
    height: 20px;
    margin: 16px 17px 0;
    overflow: hidden;
    text-indent: -45px;
    width: 45px;
	display: none;}
.dataTables_paginate.paging_two_button {
    float: right;
    margin: 14px -74px 0 0;
    width: 69px;}
.dataTables_paginate.paging_two_button a, .paging_full_numbers >a{
    height: 25px;
    overflow: hidden;
    text-indent: -999px;
    width: 9px;
	float: left;
	margin: 0 2px;
	cursor: pointer;}
.paginate_disabled_previous, .previous  {
    background: url("../images/flecha_der.png") no-repeat scroll 0 0 transparent;}
.paginate_disabled_next, .next  {
    background: url("../images/flecha_izq.png") no-repeat scroll 0 0 transparent;}
.id_propiedad {
    display: none;}
.dataTables_paginate.paging_full_numbers {
    float: right;
    margin: -10px 0 0;}
#DataTables_Table_0_paginate span {
    color: #666666;
    float: left;
    font-size: 14px;
    margin: 3px 5px 0;}
#DataTables_Table_0_paginate span a{
    float: left;
    margin: 0 6px 0 0;
	cursor: pointer;}
.paginate_active{
	border-bottom: 1px solid;}
.pieConsola .contenidoConsola {
    margin: 0 auto;
    text-align: right;
    width: 1000px;}
.pieConsola  img {
    margin: 20px 0 10px;}
.index {
    width: 100%;}
.dataTables_length {
    color: #000B27;
    font-size: 21px;
    margin: -58px 0 32px 17px;
	width: 370px;}
.dataTables_length select {
    font-size: 17px;}