<div class="row-fluid sortable">
	<div class="box span12">
    	<div class="box-header" data-original-title>
            <h2><i class="halflings-icon user"></i><span class="break"></span><?php echo __('Providers'); ?></h2>
            <div class="box-icon">
                 <i class="icon-plus-sign"></i>
					<?php echo $this->Html->link(__('New Provider'), array('action' => 'add')); ?>                <a href="#" class="btn-minimize"><i class="halflings-icon chevron-up"></i></a>
            </div>
        </div>
        <div class="box-content">
        	<table class="table table-striped table-bordered bootstrap-datatable datatable">
            	<thead>
                    <tr>
                                            <th><?php echo $this->Paginator->sort('id'); ?></th>
                                            <th><?php echo $this->Paginator->sort('nombre_empresa'); ?></th>
                                            <th><?php echo $this->Paginator->sort('nombre_contacto'); ?></th>
                                            <th><?php echo $this->Paginator->sort('telefono'); ?></th>
                                            <th><?php echo $this->Paginator->sort('correo'); ?></th>
                                            <th><?php echo $this->Paginator->sort('direccion'); ?></th>
                                            <th><?php echo $this->Paginator->sort('estado'); ?></th>
                                            <th class="actions"><?php echo __('Actions'); ?></th>
                    </tr>
                </thead>
                <tbody>
                	<?php
						foreach ($providers as $provider): ?>
	<tr>
		<td><?php echo h($provider['Provider']['id']); ?>&nbsp;</td>
		<td><?php echo h($provider['Provider']['nombre_empresa']); ?>&nbsp;</td>
		<td><?php echo h($provider['Provider']['nombre_contacto']); ?>&nbsp;</td>
		<td><?php echo h($provider['Provider']['telefono']); ?>&nbsp;</td>
		<td><?php echo h($provider['Provider']['correo']); ?>&nbsp;</td>
		<td><?php echo h($provider['Provider']['direccion']); ?>&nbsp;</td>
		<td><?php echo h($provider['Provider']['estado']); ?>&nbsp;</td>
		<td class="actions">
			<?php echo $this->Html->link(__("<i class='halflings-icon white zoom-in'></i>"), array('action' => 'view', $provider['Provider']['id']),array( 'class'=>'btn btn-success', 'escape'=>false)); ?>
			<?php echo $this->Html->link(__("<i class='halflings-icon white edit'></i>"), array('action' => 'edit', $provider['Provider']['id']),array('class'=>'btn btn-info','escape'=>false)); ?>
			<?php echo $this->Form->postLink(__("<i class='halflings-icon white trash'></i>"), array('action' => 'delete', $provider['Provider']['id']),array( 'class'=>'btn btn-danger', 'escape'=>false), __('Are you sure you want to delete # %s?', $provider['Provider']['id'])); ?>
		</td>
	</tr>
<?php endforeach; ?>
                       
                </tbody>
            </table>
        </div>
    </div>
</div>