img {
    margin: 0 auto;
    width: 262px;}
h1 {
    font-family: Arial;
    margin: 0 auto 40px;
    text-align: center;
    width: 300px;}
p {
    font-family: arial;
    line-height: 20px;
    margin: 0 auto;
    text-align: center;
    width: 400px;}