.contenido {
    background: none repeat scroll 0 0 #FFFFFF;
	height: 770px;}	
iframe{
	border: none;
    float: left;
    height: 489px;
    width: 311px;
    background: none repeat scroll 0 0 #FAFAFA;
	margin: 0 14px;}
.tit {
    background: none repeat scroll 0 0 #FAFAFA;
    color: #6B6B6B;
    float: left;
    font-size: 20px;
    margin: 0 14px;
    padding: 20px 30px 0;
    width: 251px;}
.fomu {
    background: none repeat scroll 0 0 #FAFAFA;
    float: left;
    margin: 0 0 0 110px;
    width: 335px;}
.mapa {
    background: none repeat scroll 0 0 #FAFAFA;
    float: left;
    height: 534px;
    margin: 0 110px 0 0;
    width: 442px;}
.mapa2 {
    border-left: 3px solid #F1F1F1;
    float: left;
    height: 495px;
    margin: 20px 0;
    width: 100%;}
.map {
    border: 1px solid #33C5F3;
    float: left;
    height: 279px;
    margin: 32px 36px 0;
    width: 363px;}
#datos > p {
    color: #6B6B6B;
    float: left;
    font-size: 15px;
    line-height: 22px;
    margin: 40px 0 0;
    text-align: center;
    width: 100%;}
.gm-style-iw {
    width: 196px;}
.titulo_Campus {
    color: #107895;
    font-size: 16px;}
#Contenido0 > p span {
    font-size: 13px !important;}
.contenido.enviado > p {
    color: #6B6B6B;
    float: left;
    font-size: 20px;
    line-height: 47px;
    margin: 50px 0 0;
    text-align: center;
    width: 100%;
}
.contenido.enviado {
    height: 500px;
}