* {
    margin: 0;
    padding: 0;}
body{
	font-family: 'Arial';}
img{
	border: none;}
form {
    float: right;
    height: 454px;
    padding: 10px 20px;
    width: 273px;}
form > input, form textarea {
    background: none no-repeat scroll 10px center #FFFFFF;
    border: 1px solid #DEDEDE;
    color: #707070;
    float: left;
    font-size: 14px;
    height: 38px;
    text-indent: 35px;
    width: 100%;
	margin: 15px 0 13px;
	font-family: Arial;}
form .nombre {
    background-image: url("../images/formulario/icon_nombre.jpg");}
.telefono {
    background-image: url("../images/formulario/icon_telefono.jpg");}
.email {
    background-image: url("../images/formulario/icon_email.jpg");}
form textarea {
    background-image: url("../images/formulario/icon_comentario.jpg");
    background-position: 10px 11px;
    height: 97px;
    padding: 10px 0 0 35px;
    text-indent: 0;
    width: 237px;}
label {
    color: #6B6B6B;
    float: left;
    font-size: 14px;
    width: 100%;
	margin: 6px 0 2px;}
label input {
    float: left;
    margin: 2px 7px 0 12px;}
.enviar {
    background: none repeat scroll 0 0 #33C5F3;
    color: #FFFFFF;
    height: 30px;
    margin: 60px 64px 0;
    text-indent: 0;
    text-transform: uppercase;
    width: 145px;
	cursor: pointer;}