.contenido{
	height: 636px;}
#cuerpo .banner {
    position: relative;
    width: 100%;
    z-index: 99;}
.orbit {
    min-width: 1000px;
    overflow: hidden;
    width: 1600px !important;
    margin: 0 auto;}
#featured > div {
	position: absolute;
	display:none;
	width: 1600px;}
#featured, #featured2 { 
	background: url("../images/orbit/loading.gif") no-repeat scroll center center #000000;
    height: 545px;}
.orbit-bullets {
    margin: -49px auto 0;
    width: 1000px;
	position: relative;
	z-index: 9;}
.orbit-bullets li.active {
    background: url(../images/index/vineta_amarilla.png) no-repeat;}
.orbit-bullets li {
    float: right;
    list-style: none;
    overflow: hidden;
    text-indent: -9px;
    background: url(../images/index/vineta_gris.png) no-repeat;
    height: 9px;
    width: 9px;
    margin: 5px;}
.parrafo{
	margin: 0 auto;
	width: 1000px;}
.parrafo p{
   background: url("../images/pleca_banner.png") no-repeat scroll 0 0 transparent;
    color: #fff;
    float: left;
    font-size: 36px;
    font-weight: bold;
    height: 107px;
    margin: -133px 0 0 0;
    padding: 26px 47px 0 15px;
    position: relative;
    text-align: l;
    width: 460px;
    z-index: 99;
    text-transform: uppercase;}
.espacio {
    height: 15px;
    width: 100%;
    background: #E7E7E7;}
.renta:hover, .venta:hover {
    background: url("../images/renta_venta.png") no-repeat scroll 0 0 transparent;}
.renta.act, .venta.act {
    background: url("../images/renta_venta.png") no-repeat scroll 0 0 transparent;}
.renta, .venta {
    background: url("../images/renta_venta_gris.png") no-repeat scroll 0 0 transparent;
    color: #E7E7E7;
    float: left;
    font-size: 36px;
    font-weight: bold;
    height: 80px;
    line-height: 81px;
    margin: 20px 14px 0 0;
    text-align: center;
    text-decoration: none;
    width: 479px;}
.renta {
    margin-left: 14px;}	
.pro_home {
    float: left;
    margin: 50px 0 0;
	width: 100%;}
.pro_home > li {
    background: none repeat scroll 0 0 #DFE9EE;
    float: left;
    height: 376px;
    margin: 0 24px 40px;
    width: 285px;
	list-style: none;}
.destacada1{
    background: url(../images/destacada.png) no-repeat;}
.destacada1, .destacada0 {
    float: right;
    height: 136px;
    margin: -11px 0 -140px 160px;
    position: relative;
    width: 136px;}
h3.titulo {
    color: #010101;
    float: left;
    font-size: 18px;
    margin: 8px 90px 0 14px;
    width: 181px;
    font-weight: normal;
	height: 44px}
.pro_home .imagen:first-child {
    display: block !important;
	float: left;
    width: 100%;
    height: 100%;	
	text-align: center;}
.pro_home ul{
    width: 260px;
    height: 193px;
    margin: 6px 13px;
	float: left;}
.imagen > img {
	/**width: 100%;**/
	height: 100%;
	/**float: left;**/}
.tipo {
    float: left;
    margin: 0 13px;
    text-align: right;
    width: 259px;
    color: #010101;
    font-size: 14px;}
.linea {
    border-right: 3px solid #33C5F4;
    margin: 0 2px;
    padding: 2px 7px;}
.datos{
    float: left;
    text-align: right;
    width: 259px;
    margin: 6px 13px 0;
    color: #626262;
    font-size: 12px;
	height: 60px;}
.precio {
    float: left;
    width: 259px;
    font-weight: bold;
    text-align: right;
    margin: 0 13px;
    font-size: 24px;}
.pro_home a {
    float: left;
    background: url(../images/mas.png) no-repeat;
    height: 46px;
    width: 88px;
    margin: -79px 0 0;
    color: #fff;
    font-size: 30px;
    text-decoration: none;
    padding: 40px 0 0 20px;
    font-weight: bold;}
.pro_home a:hover {
    background: url(../images/mas_over.png) no-repeat;
	color: #33c5f4;}
.oculto, .ocultoOP {
    display: none;}
.centrado {
    color: #3D638F;
    float: left;
    font-size: 30px;
    margin: -44px 0 0;
    text-align: center;
    width: 100%;}