.contenido.pro {
    height: 1720px;}
.azul {
    background: none repeat scroll 0 0 #DFE9EE;
    float: left;
    height: 665px;
    margin: 40px 0 0 25px;
    width: 627px;}
.destacada1 {
    margin-right: -10px;}
h3.titulo {
    margin-top: 20px;}
.grandes {
    float: left;
    height: 427px;
    overflow: hidden;
    padding: 20px 0 0 30px;
    width: 566px;}
.imagen {
	float: left;
    height: 100%;
    list-style: none outside none;
    width: 100%;
	text-align: center;}
.triangulo {
    float: left;
    margin: -38px 0 0;
    position: relative;}
.imagenes {
    background: none repeat scroll 0 0 #444444;
    float: left;
    height: 105px;
    width: 100%;}
.imagenes > a {
    float: left;
    margin: 43px -11px 0;}
.cantidad {
    float: left;
    margin: 0 20px;
    overflow: hidden;
    width: 588px;
	height: 105px;}
.chicas {
    float: left;
    width: 500%;}
.chicas .imagen {
    border: 1px solid #FFFFFF;
    float: left;
    height: 83px;
    margin: 10px 7px 0 0 ;
    width: 139px;
	cursor: pointer;}	
.gris {
    background: none repeat scroll 0 0 #E7E7E7;
    float: right;
    height: 665px;
    margin: 40px 25px 0 0;
    width: 284px;}
.casa1 {
    background: url("../images/nueva.png") no-repeat scroll 0 0 transparent;}
.casa1, .casa0 {
    float: left;
    height: 82px;
    margin: -4px 0 0 -4px;
    width: 82px;
	position: relative;}
.gris .precio {
    border-bottom: 1px solid #FFFFFF;
    margin-top: -71px;
    padding-bottom: 4px;
    width: 218px;}
.desc, .detalle {
    color: #626262;
    float: left;
    font-size: 12px;
    margin: 7px 13px 0;
    width: 258px;
	height: 180px;}
.desc{
	margin-top: -26px;
	height: 160px;}
.desc > strong, .detalle >strong{
    border-bottom: 1px solid #FFFFFF;
    float: left;
    font-size: 18px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    width: 100%;}
.gris .datos {
    background: url("../images/icono_casita.png") no-repeat scroll 8px 16px transparent;
    border-top: 1px solid #FFFFFF;
    color: #626262;
    float: left;
    font-size: 12px;
    margin: 7px 13px 0;
    padding-left: 73px;
    padding-top: 14px;
    text-align: left;
    width: 145px;
	height: 240px;
	overflow:hidden;}
.tipo {
    /**background: none repeat scroll 0 0 #444444;**/
    color: #132138;
    float: right;
    font-size: 17px;
    margin: -40px 0 0;
    padding: 10px 10px 10px 0;
    width: auto;}
#form2 {
    background: none repeat scroll 0 0 #D9E6EC;
    height: 515px;
    margin: 80px 0 0 25px;
    padding: 0 20px;
    width: 274px;}
#form2 .cont {
    color: #6B6B6B;
    float: left;
    font-size: 20px;
    margin: 10px 0 0;}
#form2 .tele-cont {
    float: right;
    font-size: 24px;
    margin: 12px 0 5px;
    text-align: right;
    width: 274px;}
#form2 .name {
    background-image: url("../images/formulario/icon_nombre.jpg");}
#form2 .telefono {
    background-image: url("../images/formulario/icon_telefono.jpg");}
#form2 .email {
    background-image: url("../images/formulario/icon_email.jpg");}
#form2 > input, #form2 textarea {
    background: none no-repeat scroll 10px center #FFFFFF;
    border: 1px solid #DEDEDE;
    color: #707070;
    float: left;
    font-family: Arial;
    font-size: 14px;
    height: 38px;
    margin: 15px 0 5px;
    text-indent: 35px;
    width: 100%;
	cursor: auto;}
#form2 textarea {
    background-image: url("../images/formulario/icon_comentario.jpg");
    background-position: 10px 11px;
    height: 97px;
    padding: 10px 0 0 35px;
    text-indent: 0;
    width: 237px;}
#form2 .envio {
    background: none repeat scroll 0 0 #33C5F3;
    color: #FFFFFF;
    cursor: pointer;
    height: 30px;
    margin: 40px 64px 0;
    text-indent: 0;
    text-transform: uppercase;
    width: 145px;}
.ubi {
    background: url("../images/ubicacion.png") no-repeat scroll 0 0 transparent;
    float: right;
    height: 515px;
    margin: 80px 25px 0 0;
    width: 572px;}
.ubi > p {
    color: #626262;
    float: right;
    font-size: 14px;
    text-align: right;
    width: 200px;
	height: 69px;}
.ubi strong {
    color: #000000;
    float: left;
    font-size: 24px;
    margin: 0 0 2px;
    text-transform: uppercase;
    width: 100%;}
.ubi .mapa {
    border-left: 1px solid #838383;
    border-right: 1px solid #838383;
    border-bottom: 1px solid #838383;
    border-top: none;
    float: left;
    height: 422px;
    width: 570px;}iframe {
    height: 422px;
    width: 570px;}