form {
    background: none repeat scroll 0 0 #EAEAEA;
	float: left;
    height: 89px;
    margin: 14px 15px 80px;
    width: 970px;}
.inmueble {
    float: left;
    height: 90px;
    width: 650px;}
.radio, .checkbox {
    background: url("../images/radio.png") no-repeat scroll right 0 transparent;
    color: #132138;
    display: block;
    float: left;
    font-size: 14px;
    height: 21px;
    line-height: 22px;
    margin: 14px 0 0 36px;
    padding: 0;
    width: 120px !important;}
span.radio, span.checkbox {
    float: right;
    height: 20px !important;
    margin: 0 !important;
    padding: 0;
    width: 20px !important;}
.inmueble > img {
    float: left;
    margin: 54px 0 0 -468px;}
.radio input {
    float: right;
    margin: 6px -16px 0 0;
    opacity: 0;
	display: block !important;}
.ciudad, form .precio {
    color: #132138;
    float: right;
    font-size: 14px;
    font-weight: normal;
    height: 25px;
    line-height: 23px;
    margin: 13px 20px 0 0;
    text-align: left;
    width: 280px;}
form label > select {
    border: 1px solid #CDCDCD;
    color: #555555;
    float: right;
    font-size: 14px;
    height: 25px;
    padding: 2px;
    width: 211px;}
form > input {
    background: none repeat scroll 0 0 #444444;
    border: medium none;
    color: #FAF20C;
    cursor: pointer;
    float: right;
    font-size: 18px;
    height: 34px;
    margin: -1px 0 0;
    width: 970px;}
.cuadro {
    float: left;
    height: 1070px;
    overflow: hidden;
    width: 100%;}
.oculto {
    display: none;}